:root {
  --rem: 12pt;
  --width: 960px;
  --navpos: fixed;
  /* spacing */
  --fullsp: 1.0em;
  --halfsp: 0.5em;
  --quartsp: 0.25em;
  /* borders */
  --border: 1.5px solid black;
  --border-radius: 4px;
  /* colors */
}

/* reset ---------------------------- */

* {
  box-sizing: border-box;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  border: 1px solid orange;
}
header, footer, figure, video, details, blockquote,
ul, ol, dl, fieldset, pre, pre > code {
	display: block;
	overflow: auto hidden;
	text-align: left;
}
a, button, select, summary { cursor: pointer; }

/* base style ---------------------- */

html {
  font-size: var(--rem);
}
body {
  position: relative;
  max-width: var(--width);
  margin: auto;
}

/* layout -------------------------- */

div[role=row] {
  display: flex;
  align-items: stretch;
  padding-bottom: var(--quartsp);
}
div[role=row] > div {
  width: 100%;
}
div[role=row] > :first-child {
  margin-right: var(--halfsp);
}
div[role=row] > :not(:first-child) {
  margin-left: var(--quartsp);
  margin-right: var(--quartsp);
}
div[role=row] > :last-child {
  margin-right: 0;
}

/* group --------------------------- */

div[role=group] {
  display: flex;
  align-items: stretch;
  margin-bottom: var(--fullsp);
}
div[role=group] > * {
  width: 100%;
  align-items: center;
}

/* headings & layout */

h1, h2, h3, h4, h5, h6 {
  margin-bottom: var(--halfsp);
}

p {
  margin-bottom: var(--halfsp);
}

/* notes */
div[role=note] {
  padding: var(--halfsp);
  border: var(--border);
  border-radius: var(--border-radius);
  margin-bottom: var(--fullsp);
}

/* form */
form {
  margin-bottom: var(--fullsp);
}

fieldset {
  padding: var(--halfsp);
  padding-bottom: var(--fullsp);
  border: var(--border);
  border-radius: var(--border-radius);
}
fieldset > * {
  margin: 0 !important;
}