:root {
  --rem: 12pt;
  --narrow-width: 960px;
  --wide-with: 1600px;
  --navpos: fixed;
  /* spacing */
  --space-0: 0;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem;
  --space-6: 3rem;
  /* borders */
  --border: 1.5px solid black;
  --border-radius: 4px;
  /* colors */
}

/* reset ---------------------------- */

* {
  box-sizing: border-box;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  /* border: 1px solid orange; */
}

header,
footer,
figure,
video,
details,
blockquote,
ul,
ol,
dl,
fieldset,
pre,
pre>code {
  display: block;
  overflow: auto hidden;
  text-align: left;
}

a,
button,
select,
summary {
  cursor: pointer;
}

/* vertical spacing -------------- */

h1 {
  margin-top: var(--space-6);
  margin-bottom: var(--space-3);
}

h2 {
  margin-top: var(--space-5);
  margin-bottom: var(--space-2);
}

h3,
h4,
h5,
h6 {
  margin-top: var(--space-4);
  margin-bottom: var(--space-2);
}

p,
ul,
ol {
  /* margin-top: var(--space-2); */
  margin-bottom: var(--space-3);
}

img,
blockquote,
table {
  margin: var(--space-3) 0;
}

fieldset {
  margin-bottom: var(--space-3);
}

input,
select,
textarea,
button {
  margin-bottom: var(--space-2);
}

section,
article,
aside,
main,
header,
footer {
  margin-bottom: var(--space-5);
}

hr {
  margin-top: var(--space-4);
  margin-bottom: var(--space-4);
}

/* base style ---------------------- */

html {
  font-size: var(--rem);
}

body {
  margin: 0;
}

/* make footer stick to bottom */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* columns -------------------------- */

div[role=row] {
  display: flex;
  align-items: stretch;
  gap: var(--space-2);
}

div[role=row]>div {
  width: 100%;
}

/* group --------------------------- */

div[role=group] {
  display: flex;
  align-items: stretch;
}

div[role=group]>* {
  width: 100%;
  align-items: center;
}

/* notes ---------------------------- */
div[role=note] {
  padding: var(--space-2);
  border: var(--border);
  border-radius: var(--border-radius);
}

/* form --------------------------- */

fieldset {
  padding: var(--space-2);
  border: var(--border);
  border-radius: var(--border-radius);
}

aside {
  min-width: 200px;
}

/* navigation --------------- */

nav {
  width: 100%;
}

body>nav,
head nav {
  z-index: 41;
}

nav ul {
  list-style-type: none;
}

nav ul:first-child {
  overflow: visible;
}

nav ul:first-child>li {
  display: inline-block;
}

nav ul>li>ul {
  display: none;
  width: auto;
  position: absolute;
  z-index: 42;
}

nav ul>li>ul>li {
  white-space: nowrap;
}

nav ul>li:hover>ul {
  display: block;
}

/* classes ---------------- */

.content-narrow {
  width: min(100% - var(--space-6), var(--narrow-width));
  margin-inline: auto;
}

.content-wide {
  width: min(100% - var(--space-6), var(--wide-with));
  margin-inline: auto;
}

.align-center {
  text-align: center;
}