<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Layout - App</title>

  <link rel="stylesheet" href="../../theme.css">
</head>

<body class="content-wide">
  <nav>
    <ul>
      <li>Fixed Navbar</li>
      <li>
        <a href="">Item 1</a>
      </li>
      <li>
        <a href="">Item 2</a>
      </li>
      <li>
        <a href="">Item 3</a>
        <ul>
          <li>
            <a href="">Item 3</a>
          </li>
          <li>
            <a href="">Item 4</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <main>
    <div role="row">
      <aside>
        <details open>
          <summary>
            <a href="">Programmatic access</a>
          </summary>
          <ul>
            <li>
              Service endpoints
            </li>
            <li>
              Eventual consistency
            </li>
          </ul>
        </details>
        <details>
          <summary>
            <a href="">Code examples</a>
          </summary>
          <ul>
            <li>
              Basic
            </li>
            <li>
              Scenarios
            </li>
          </ul>
        </details>
      </aside>
      <div>
        <div role="row">
          <div>
            <section>
              <div role="note">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                id
                est laborum.
              </div>
            </section>

          </div>
          <div>
            <section>
              <div role="note">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                id
                est laborum.
              </div>
            </section>
          </div>
        </div>
        <div role="row">
          <div>
            <section>
              <div role="note">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                id
                est laborum.
              </div>
            </section>
          </div>
          <div>
            <section>
              <div role="note">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                id
                est laborum.
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    Options
  </footer>
</body>

</html>