<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <title>Layout - Hero (Small)</title>

  <link rel="stylesheet" href="../../src/theme.css">
</head>

<body>
  <nav>
    <ul>
      <li><b>Logo</b></li>
      <li>
        <a href="">Documentation</a>
      </li>
      <li>
        <a href="">Support</a>
      </li>
      <li>
        <a href="">More</a>
        <ul>
          <li>
            <a href="">Contact</a>
          </li>
          <li>
            <a href="">About</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <header style="background-image: url(https://picsum.photos/2000/200)">
    <section class="align-center">
      <h2>Title</h2>
      <p>
        This is my blog
      </p>
      <button>Subscribe</button>
    </section>
  </header>
  <main>
    <article>
      <h1>Article Title</h1>
      <section>
        <h2>Section Title</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </section>
    </article>
  </main>
  <footer>
    This is my footer
  </footer>
</body>

</html>