@font-face {
  font-family: "FontWithASyntaxHighlighter";
  src: url("https://cdn.jsdelivr.net/gh/gobi-tools/css-theme@raw/refs/heads/main/public/FontWithASyntaxHighlighter-Regular-Dark.woff2") format("woff2");
}

@media (prefers-color-scheme: light) {
  @font-face {
    font-family: "FontWithASyntaxHighlighter";
    src: url("https://cdn.jsdelivr.net/gh/gobi-tools/css-theme@raw/refs/heads/main/public/FontWithASyntaxHighlighter-Regular-Light.woff2") format("woff2");
  }
}

pre>code {
  font-family: "FontWithASyntaxHighlighter", monospace;
}
