@font-face {
  font-family: "FontWithASyntaxHighlighter";
  src: url("./FontWithASyntaxHighlighter-Regular-Light.woff2") format("woff2");
}

pre>code {
  font-family: "FontWithASyntaxHighlighter", monospace;
}