@font-face {
  font-family: "FontWithASyntaxHighlighter";
  src: url("https://github.com/gobi-tools/css-theme/raw/refs/heads/main/public/FontWithASyntaxHighlighter-Regular-Dark.woff2") format("woff2");
}

pre>code {
  font-family: "FontWithASyntaxHighlighter", monospace;
}