@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root {
  --font-family-head: "Montserrat", sans-serif;
  --font-family-body: "Google Sans", sans-serif;

  --color-bg: light-dark(#FAFAFA, #111827);
  --color-txt: light-dark(#370008, #d8eaff);
  --color-txt-on-dark: #ffffff;
  --color-primary: #FB7185;
  --color-secondary: #73162B;

  --color-success: #23b157;
  --color-error: #ef4444;

  --border-radius-img: 10px;
}

.big-banner {
  background-image: url('https://picsum.photos/id/130/640/480');
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  .big-banner {
    background-image: url('https://picsum.photos/id/38/640/480');
  }
}