:root {
  /* typography - font type */
  --font-family-head: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-familu-navi: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-body: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-mono: monospace;
  /* -code applis to "kbd", "code", "var", "mark"  */
  --border-radius-code: 6px;

  /* -blocks applies to to: "blockquote", "pre", "dialog" */
  --border-radius-blocks: 4px;
  --border-left-width-blocks: 2px;
  --border-left-style-blocks: solid;
  --border-right-width-blocks: 2px;
  --border-right-style-blocks: solid;
  --border-top-width-blocks: 2px;
  --border-top-style-blocks: solid;
  --border-bottom-width-blocks: 5px;
  --border-bottom-style-blocks: solid;

  /* -button applies to: "button" (& "grouped" buttons) */
  --border-radius-button: 4px;
  --border-bottom-width-button: 5px;

  /* -input applies to: form "inputs", "button" (for -height), "grouped" inputs */
  --border-radius-input: 4px;
  --border-bottom-width-select: 5px;

  /* -note applies to: "fieldsets", "article"  */
  --border-radius-card: 4px;
  --border-bottom-width-card: 5px;

  /* override heights */
  --height-button: 43px;
  --height-input: 43px;
}

:root {
  --color-base: light-dark(#858585, #747990);
  --color-primary: light-dark(#1465e9, #2d77ed);
  --color-secondary: #238cd1;

  --color-success: #23b157;
  --color-error: #ef4444;
}

button,
input[type=submit] {
  background: light-dark(var(--color-button), var(--color-dark-4));
  border-color: light-dark(var(--color-dark-2), var(--color-light-3));
}

button:hover,
input[type=submit]:hover {
  border-color: light-dark(var(--color-dark-4), var(--color-light-4));
}

pre>code {
  border: none;
}

.table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* smoother on iOS */
}