:root {
  color-scheme: light only;

  --font-family-head: "Fraunces", sans-serif;
  --font-family-navi:  "Sora", sans-serif;
  --font-family-body: "Sora", sans-serif;

  --color-text: #0c0c0c;
  --color-base: #c9c9c9;
  --color-primary: #2D3A1F;
  --color-secondary: #B8A678;

  --color-success: #23b157;
  --color-error: #ef4444;

  --font-weight-subhead: 300;

  --border-radius-code: 6px;
  --border-radius-blocks: 0px;
  --border-radius-control-button: 20px;
  --border-radius-control-input: 4px;
  --border-radius-card: 4px;
}

blockquote {
  background: none;
}

[role="group"]>:is(button,
  input,
  select):first-child {
  border-top-left-radius: var(--border-radius-control-button);
  border-bottom-left-radius: var(--border-radius-control-button);
  padding-left: calc(var(--border-radius-control-button) / 1.35) !important;
}

[role="group"]>:is(button,
  input,
  select):last-child {
  border-top-right-radius: var(--border-radius-control-button);
  border-bottom-right-radius: var(--border-radius-control-button);
}