:root {
  /* typography - font type */
  --font-family-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-family-head: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-family-mono: monospace;
  /* colors - base */
  --color-primary-light-1: #93c5fd;
  --color-primary-light-2: #dbeafe;
  --color-primary: #3b82f6;
  --color-primary-dark-1: #2563eb;
  --color-primary-dark-2: #1e3a8a;

  --color-secondary-light-1: #c4b5fd;
  --color-secondary-light-2: #ede9fe;
  --color-secondary: #8b5cf6;
  --color-secondary-dark-1: #7c3aed;
  --color-secondary-dark-2: #4c1d95;

  --color-success-light-1: #86efac;
  --color-success-light-2: #dcfce7;
  --color-success: #23b157;
  --color-success-dark-1: #16a34a;
  --color-success-dark-2: #14532d;

  --color-error-light-1: #fca5a5;
  --color-error-light-2: #fee2e2;
  --color-error: #ef4444;
  --color-error-dark-1: #dc2626;
  --color-error-dark-2: #7f1d1d;

  --color-accent-light-1: #e5e7eb;
  --color-accent-light-2: #f3f4f6;
  --color-accent-dark-1: #374151;
  --color-accent-dark-2: #1f2937;
  /* colors - text */
  --color-txt-on-light: #111827;
  --color-txt-on-dark: #f9fafb;
  --color-txt: light-dark(var(--color-txt-on-light), var(--color-txt-on-dark));
  /* colors - bg */
  --color-bg-light: #ffffff;
  --color-bg-dark: #111827;
  --color-bg: light-dark(var(--color-bg-light), var(--color-bg-dark));
  
  /* -code applis to "kbd", "code", "var", "mark"  */
  --border-radius-code: 6px;

  /* -blocks applies to to: "blockquote", "pre", "dialog" */
  --border-radius-blocks: 4px;
  --border-left-width-blocks: 2px;
  --border-left-style-blocks: solid;
  --border-right-width-blocks: 2px;
  --border-right-style-blocks: solid;
  --border-top-width-blocks: 2px;
  --border-top-style-blocks: solid;
  --border-bottom-width-blocks: 5px;
  --border-bottom-style-blocks: solid;

  /* -button applies to: "button" (& "grouped" buttons) */
  --border-radius-button: 4px;
  --border-bottom-width-button: 5px;

  /* -input applies to: form "inputs", "button" (for -height), "grouped" inputs */
  --border-radius-input: 4px;
  --border-bottom-width-select: 5px;

  /* -note applies to: "fieldsets", "card" class  */
  --border-radius-card: 4px;
  --border-bottom-width-card: 5px;
}

button,
input[type=submit] {
  background: light-dark(var(--color-primary-light-2), var(--color-primary-dark-2));
  color: light-dark(var(--color-txt-on-light), var(--color-txt-on-dark));
}

blockquote {
  border-color: light-dark(var(--color-accent-light-1), var(--color-accent-dark-1));
}

pre>code {
  border: none;
}