:root {
  --font-family-head: 'Reddit Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-familu-navi: 'Sora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-body: 'Sora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-mono: monospace; 

  --color-bg: light-dark(#ffffff, #2e2936);
  --color-base: light-dark(#afa9b8, #7d748c);
  --color-primary: light-dark(#7554ff, #8364ff);
  --color-secondary: light-dark(#CC54FF, #D164FF);
  
  --color-success: #23b157;
  --color-error: #ef4444;

  --border-radius-button: 20px;
}


[role="group"]>:is(button,
  input,
  select):first-child {
  border-top-left-radius: var(--border-radius-button);
  border-bottom-left-radius: var(--border-radius-button);
  padding-left: calc(var(--border-radius-button) / 1.35) !important;
}

[role="group"]>:is(button,
  input,
  select):last-child {
  border-top-right-radius: var(--border-radius-button);
  border-bottom-right-radius: var(--border-radius-button);
}