:root {
  color-scheme: light only;
  
  --font-family-head: "TikTok Sans", sans-serif;
  --font-familu-navi:  "Geist", sans-serif;
  --font-family-body: "Geist", sans-serif;

  --color-bg: light-dark(#FAFAFA, #0F1819);
  --color-txt: light-dark(#0F1819, #FAFAFA);
  --color-txt-on-dark: #ffffff;
  --color-primary: #1C2829;
  --color-secondary: #364244;

  --color-success: #23b157;
  --color-error: #ef4444;

  --border-radius-img: 10px;
}