:root {
  color-scheme: light only;
  
  --font-family-head: "TikTok Sans", sans-serif;
  --font-family-navi:  "Geist", sans-serif;
  --font-family-body: "Geist", sans-serif;
  
  --color-base: #c9c9c9;
  --color-primary: #4a4a4a;
  --color-secondary: #ff5d00;

  --color-success: #23b157;
  --color-error: #ef4444;
}