:root {
  --font-family-head: "PT Serif", sans-serif;
  --font-family-navi:  "Lato", sans-serif;
  --font-family-body: "Lato", sans-serif;

  --color-text: light-dark(#3c4249, #f0f6fb);
  --color-base: light-dark(#afa9b8, #7d748c);
  --color-primary: light-dark(#557dab, #5988b4);
  --color-secondary: #4F67C7;

  --color-success: #23b157;
  --color-error: #ef4444;
}