:root {
  --font-family-head: "PT Serif", sans-serif;
  --font-familu-navi:  "Lato", sans-serif;
  --font-family-body: "Lato", sans-serif;

  --color-base: light-dark(#557dab, #6e869d);
  --color-primary: light-dark(#00476D, #4fa3c7);
  --color-secondary: light-dark(#4F67C7, #4F67C7);

  --color-success: #23b157;
  --color-error: #ef4444;
}