:root {
  --font-family-head: 'Reddit Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-familu-navi: 'Sora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-body: 'Sora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-mono: monospace; 

  --color-bg: light-dark(#ffffff, #2e2936);
  --color-txt: light-dark(#171717, #f5f5f5);
  --color-txt-on-dark: #ffffff;
  --color-primary: light-dark(#7554ff, #8364ff);
  --color-secondary: light-dark(#475569, #475569);
  
  --color-success: #23b157;
  --color-error: #ef4444;

  --border-radius-button: 20px;
}