:root {
  /* typography - font type */
  --font-family-body: monospace;
  --font-family-head: monospace;
  --font-family-mono: monospace;
  /* -code applis to "kbd", "code", "var", "mark"  */
  --border-radius-code: 0px;

  /* -blocks applies to to: "blockquote", "pre", "dialog" */
  --border-radius-blocks: 0px;
  --border-left-width-blocks: 2px;
  --border-left-style-blocks: solid;
  --border-right-width-blocks: 2px;
  --border-right-style-blocks: solid;
  --border-top-width-blocks: 2px;
  --border-top-style-blocks: solid;
  --border-bottom-width-blocks: 2px;
  --border-bottom-style-blocks: solid;

  /* -button applies to: "button" (& "grouped" buttons) */
  --border-radius-button: 0px;

  /* -input applies to: form "inputs", "button" (for -height), "grouped" inputs */
  --border-radius-input: 0px;

  /* -note applies to: "fieldsets", "card" class  */
  --border-radius-card: 0px;
}

:root {
  color-scheme: light only;
  --color-bg: #FFE3F3;
  --color-txt: #1F26FF;
  --color-txt-on-dark: #ffffff;
  --color-primary: #526cfe;
  --color-secondary: #ffffff;
  
  --color-success: #0026ff;
  --color-error: #C026D3;
}

blockquote, pre>code {
  border-color: var(--color-primary);
}