:root {
  color-scheme: light only;
  
  --font-family-head: "TikTok Sans", sans-serif;
  --font-familu-navi:  "Geist", sans-serif;
  --font-family-body: "Geist", sans-serif;

  --color-bg: #FAFAFA;
  --color-base: #8b8b8b;
  --color-primary: #1C2829;
  --color-secondary: #d9ae00;

  --color-success: #23b157;
  --color-error: #ef4444;

  --border-radius-img: 10px;
}