:root {
  color-scheme: light only;

  --font-family-head: "Montserrat", sans-serif;
  --font-family-navi:  "Google Sans", sans-serif;
  --font-family-body: "Google Sans", sans-serif;

  --color-base: #c9c9c9;
  --color-primary: #FB7185;
  --color-secondary: #71CBFB;

  --color-success: #23b157;
  --color-error: #e4cb3f;
}

.big-banner {
  background-image: url('https://picsum.photos/id/130/640/480');
  background-size: cover;
}