<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Minimal Theme with Utilities</title>
  <link rel="stylesheet" href="./classless.css">
</head>

<body>
  <main>
    <article>
      <p>
        This is inline <code>5f802c3f-830b-4c64-aa57-6fec5a27ecac</code>
      </p>
      <p>
        This is inline <code class="warn">5f802c3f-830b-4c64-aa57-6fec5a27ecac</code>
      </p>
      <pre><code>main(int a) {
  printf("hello world");
}</code></pre>
      <pre><code class="warn">main(int a) {
  printf("hello world");
}</code></pre>
      <pre><code class="hint">main(int a) {
  printf("hello world");
}</code></pre>
      <p>
        <blockquote>
          <p>Testing 123</p>
        </blockquote>
      </p>
      <p>
        <blockquote class="hint">
          <p>Testing 123</p>
          <p><small><mark class="warn">test</mark></small></p>
        </blockquote>
      </p>

      <p>
        <details>
          <summary>Test</summary>
          <p>
            Lorem impsum etc
          </p>
        </details>
      </p>

      <p>
        <details class="hint">
          <summary>Test</summary>
          <p>
            Lorem impsum etc
          </p>
        </details>
      </p>

      <p>
        <details class="warn">
          <summary>Test</summary>
          <p>
            Lorem impsum etc
          </p>
        </details>
      </p>
    </article>
  </main>
</body>

</html>