/* Tailwind v3 palette (2025-10-18T10:36:41.932Z) */
:root {
  --gray-950: #f9fafb;
  --gray-900: #f3f4f6;
  --gray-800: #e5e7eb;
  --gray-700: #d1d5db;
  --gray-600: #9ca3af;
  --gray-500: #6b7280;
  --gray-400: #4b5563;
  --gray-300: #374151;
  --gray-200: #1f2937;
  --gray-100: #111827;
  --gray-50: #030712;
  --red-950: #fef2f2;
  --red-900: #fee2e2;
  --red-800: #fecaca;
  --red-700: #fca5a5;
  --red-600: #f87171;
  --red-500: #ef4444;
  --red-400: #dc2626;
  --red-300: #b91c1c;
  --red-200: #991b1b;
  --red-100: #7f1d1d;
  --red-50: #450a0a;
  --orange-950: #fff7ed;
  --orange-900: #ffedd5;
  --orange-800: #fed7aa;
  --orange-700: #fdba74;
  --orange-600: #fb923c;
  --orange-500: #f97316;
  --orange-400: #ea580c;
  --orange-300: #c2410c;
  --orange-200: #9a3412;
  --orange-100: #7c2d12;
  --orange-50: #431407;
  --yellow-950: #fefce8;
  --yellow-900: #fef9c3;
  --yellow-800: #fef08a;
  --yellow-700: #fde047;
  --yellow-600: #facc15;
  --yellow-500: #eab308;
  --yellow-400: #ca8a04;
  --yellow-300: #a16207;
  --yellow-200: #854d0e;
  --yellow-100: #713f12;
  --yellow-50: #422006;
  --lime-950: #f7fee7;
  --lime-900: #ecfccb;
  --lime-800: #d9f99d;
  --lime-700: #bef264;
  --lime-600: #a3e635;
  --lime-500: #84cc16;
  --lime-400: #65a30d;
  --lime-300: #4d7c0f;
  --lime-200: #3f6212;
  --lime-100: #365314;
  --lime-50: #1a2e05;
  --green-950: #f0fdf4;
  --green-900: #dcfce7;
  --green-800: #bbf7d0;
  --green-700: #86efac;
  --green-600: #4ade80;
  --green-500: #22c55e;
  --green-400: #16a34a;
  --green-300: #15803d;
  --green-200: #166534;
  --green-100: #14532d;
  --green-50: #052e16;
  --emerald-950: #ecfdf5;
  --emerald-900: #d1fae5;
  --emerald-800: #a7f3d0;
  --emerald-700: #6ee7b7;
  --emerald-600: #34d399;
  --emerald-500: #10b981;
  --emerald-400: #059669;
  --emerald-300: #047857;
  --emerald-200: #065f46;
  --emerald-100: #064e3b;
  --emerald-50: #022c22;
  --teal-950: #f0fdfa;
  --teal-900: #ccfbf1;
  --teal-800: #99f6e4;
  --teal-700: #5eead4;
  --teal-600: #2dd4bf;
  --teal-500: #14b8a6;
  --teal-400: #0d9488;
  --teal-300: #0f766e;
  --teal-200: #115e59;
  --teal-100: #134e4a;
  --teal-50: #042f2e;
  --blue-950: #eff6ff;
  --blue-900: #dbeafe;
  --blue-800: #bfdbfe;
  --blue-700: #93c5fd;
  --blue-600: #60a5fa;
  --blue-500: #3b82f6;
  --blue-400: #2563eb;
  --blue-300: #1d4ed8;
  --blue-200: #1e40af;
  --blue-100: #1e3a8a;
  --blue-50: #172554;
  --purple-950: #faf5ff;
  --purple-900: #f3e8ff;
  --purple-800: #e9d5ff;
  --purple-700: #d8b4fe;
  --purple-600: #c084fc;
  --purple-500: #a855f7;
  --purple-400: #9333ea;
  --purple-300: #7e22ce;
  --purple-200: #6b21a8;
  --purple-100: #581c87;
  --purple-50: #3b0764;
}