/* Tailwind v3 palette (2025-10-18T10:36:16.600Z) */
:root {
  --gray-950: #030712;
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-300: #d1d5db;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;
  --red-950: #450a0a;
  --red-900: #7f1d1d;
  --red-800: #991b1b;
  --red-700: #b91c1c;
  --red-600: #dc2626;
  --red-500: #ef4444;
  --red-400: #f87171;
  --red-300: #fca5a5;
  --red-200: #fecaca;
  --red-100: #fee2e2;
  --red-50: #fef2f2;
  --orange-950: #431407;
  --orange-900: #7c2d12;
  --orange-800: #9a3412;
  --orange-700: #c2410c;
  --orange-600: #ea580c;
  --orange-500: #f97316;
  --orange-400: #fb923c;
  --orange-300: #fdba74;
  --orange-200: #fed7aa;
  --orange-100: #ffedd5;
  --orange-50: #fff7ed;
  --yellow-950: #422006;
  --yellow-900: #713f12;
  --yellow-800: #854d0e;
  --yellow-700: #a16207;
  --yellow-600: #ca8a04;
  --yellow-500: #eab308;
  --yellow-400: #facc15;
  --yellow-300: #fde047;
  --yellow-200: #fef08a;
  --yellow-100: #fef9c3;
  --yellow-50: #fefce8;
  --lime-950: #1a2e05;
  --lime-900: #365314;
  --lime-800: #3f6212;
  --lime-700: #4d7c0f;
  --lime-600: #65a30d;
  --lime-500: #84cc16;
  --lime-400: #a3e635;
  --lime-300: #bef264;
  --lime-200: #d9f99d;
  --lime-100: #ecfccb;
  --lime-50: #f7fee7;
  --green-950: #052e16;
  --green-900: #14532d;
  --green-800: #166534;
  --green-700: #15803d;
  --green-600: #16a34a;
  --green-500: #22c55e;
  --green-400: #4ade80;
  --green-300: #86efac;
  --green-200: #bbf7d0;
  --green-100: #dcfce7;
  --green-50: #f0fdf4;
  --emerald-950: #022c22;
  --emerald-900: #064e3b;
  --emerald-800: #065f46;
  --emerald-700: #047857;
  --emerald-600: #059669;
  --emerald-500: #10b981;
  --emerald-400: #34d399;
  --emerald-300: #6ee7b7;
  --emerald-200: #a7f3d0;
  --emerald-100: #d1fae5;
  --emerald-50: #ecfdf5;
  --teal-950: #042f2e;
  --teal-900: #134e4a;
  --teal-800: #115e59;
  --teal-700: #0f766e;
  --teal-600: #0d9488;
  --teal-500: #14b8a6;
  --teal-400: #2dd4bf;
  --teal-300: #5eead4;
  --teal-200: #99f6e4;
  --teal-100: #ccfbf1;
  --teal-50: #f0fdfa;
  --blue-950: #172554;
  --blue-900: #1e3a8a;
  --blue-800: #1e40af;
  --blue-700: #1d4ed8;
  --blue-600: #2563eb;
  --blue-500: #3b82f6;
  --blue-400: #60a5fa;
  --blue-300: #93c5fd;
  --blue-200: #bfdbfe;
  --blue-100: #dbeafe;
  --blue-50: #eff6ff;
  --purple-950: #3b0764;
  --purple-900: #581c87;
  --purple-800: #6b21a8;
  --purple-700: #7e22ce;
  --purple-600: #9333ea;
  --purple-500: #a855f7;
  --purple-400: #c084fc;
  --purple-300: #d8b4fe;
  --purple-200: #e9d5ff;
  --purple-100: #f3e8ff;
  --purple-50: #faf5ff;
}