/*  U.S. Web Design System (USWDS) v3, modified palette (2025-10-18T10:37:02.415Z) */
:root {
  --gray-950: #1b1b1b;
  --gray-900: #242424;
  --gray-800: #2e2e2e;
  --gray-700: #454545;
  --gray-600: #5c5c5c;
  --gray-500: #757575;
  --gray-400: #919191;
  --gray-300: #adadad;
  --gray-200: #c9c9c9;
  --gray-100: #e6e6e6;
  --gray-50: #f0f0f0;
  --red-950: #1b1616;
  --red-900: #2c1f1f;
  --red-800: #3e2927;
  --red-700: #6f3331;
  --red-600: #a23737;
  --red-500: #d83933;
  --red-400: #e9695f;
  --red-300: #f2938c;
  --red-200: #f7bbb1;
  --red-100: #f8e1de;
  --red-50: #f9eeee;
  --orange-950: #1b1614;
  --orange-900: #27211d;
  --orange-800: #332d27;
  --orange-700: #524236;
  --orange-600: #775540;
  --orange-500: #a86437;
  --orange-400: #dd7533;
  --orange-300: #f09860;
  --orange-200: #f3bf90;
  --orange-100: #f2e4d4;
  --orange-50: #f6efe9;
  --yellow-950: #1a1614;
  --yellow-900: #26211d;
  --yellow-800: #332d27;
  --yellow-700: #504332;
  --yellow-600: #6b5a39;
  --yellow-500: #8a7237;
  --yellow-400: #a88f48;
  --yellow-300: #c9ab48;
  --yellow-200: #e6c74c;
  --yellow-100: #f5e6af;
  --yellow-50: #faf3d1;
  --green-950: #161814;
  --green-900: #1f241b;
  --green-800: #293021;
  --green-700: #3c4a29;
  --green-600: #4c6424;
  --green-500: #607f35;
  --green-400: #7d9b4e;
  --green-300: #9bb672;
  --green-200: #b8d293;
  --green-100: #dfeacd;
  --green-50: #eaf4dd;
  --cyan-950: #111819;
  --cyan-900: #192426;
  --cyan-800: #203133;
  --cyan-700: #2c4a4e;
  --cyan-600: #2a646d;
  --cyan-500: #168092;
  --cyan-400: #449dac;
  --cyan-300: #5dc0d1;
  --cyan-200: #99deea;
  --cyan-100: #ccecf2;
  --cyan-50: #e7f6f8;
  --blue-950: #11181d;
  --blue-900: #18242c;
  --blue-800: #1f303e;
  --blue-700: #274863;
  --blue-600: #2c608a;
  --blue-500: #2378c3;
  --blue-400: #4f97d1;
  --blue-300: #73b3e7;
  --blue-200: #aacdec;
  --blue-100: #d9e8f6;
  --blue-50: #eff6fb;
  --violet-950: #18161d;
  --violet-900: #24202d;
  --violet-800: #312b3f;
  --violet-700: #4c3d69;
  --violet-600: #665190;
  --violet-500: #8168b3;
  --violet-400: #9d84d2;
  --violet-300: #b8a2e3;
  --violet-200: #d0c3e9;
  --violet-100: #ebe3f9;
  --violet-50: #f4f1f9;
}