@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap'); */

:root {
  --font-family-head: "PT Serif", sans-serif;
  --font-familu-navi:  "Lato", sans-serif;
  --font-family-body: "Lato", sans-serif;

  --color-bg: light-dark(#FAFAFA, #071c2f);
  --color-txt: light-dark(#001935, #d9ecff);
  --color-txt-on-dark: #FAFAFA;
  --color-primary: light-dark(#00476D, #4fa3c7);
  --color-secondary: light-dark(#38BDF8, #38bdf8);

  --color-success: #23b157;
  --color-error: #ef4444;
}