:root {
  color-scheme: dark only;
  --color-bg: #201b24;
  --color-txt: #e3dff2;
  --color-txt-on-dark: #ffffff;
  --color-primary: #ff69b4;
  --color-secondary: #1f7047;

  --color-success: #23b157;
  --color-error: #ef4444;
}