:root {
  color-scheme: light only;
  --color-bg: #fff8dc;
  --color-txt: #111827;
  --color-txt-on-dark: #f9fafb;
  --color-primary: #111111;
  --color-secondary: #d694e7;

  --color-success: #708d3a;
  --color-error: #c2412f;
}

@media (prefers-color-scheme: dark) {

  /** OVERRIDE-TO-LIGHT **/
  :root {
    --color-accent-inked: color-mix(in oklch, var(--color-txt) 75%, white);

    --color-primary-inked: color-mix(in oklch, var(--color-primary) 85%, black);

    --color-secondary-muted: color-mix(in oklch, var(--color-secondary) 30%, white);

    button:hover,
    .card:hover {
      filter: brightness(90%);
    }

    a:hover {
      filter: brightness(50%);
    }
  }
}