:root {
  --color-bg: #ffffff;
  --color-txt: #212121;
  --color-txt-on-dark: #ffffff;
  --color-primary: #526cfe;
  --color-secondary: #8b5cf6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #111827;
    --color-txt: #d8eaff;
  }
}