:root {
  --color-bg: light-dark(#ffffff, #111827);
  --color-txt: light-dark(#212121, #d8eaff);
  --color-txt-on-dark: #ffffff;
  --color-primary: #526cfe;
  --color-secondary: #8b5cf6;

  --color-success: #23b157;
  --color-error: #ef4444;
}