:root {
  color-scheme: dark only;
  --color-bg: #1d2f21;
  --color-txt: #ffffff;
  --color-txt-on-dark: #1d2f21;
  --color-primary: #ffe229;
  --color-secondary: #f75f5f;

  --color-success: #6eed9c;
  --color-error: #fa8f8f;
}

:root {
  /** OVERRIDE-TO-DARK **/
  --color-accent-inked: color-mix(in oklch, var(--color-txt) 50%, black);

  --color-primary-inked: color-mix(in oklch, var(--color-primary) 35%, white);

  --color-secondary-muted: color-mix(in oklch, var(--color-secondary) 90%, black);

  a:hover,
  button:hover,
  .card:hover {
    filter: brightness(110%);
  }
}