:root {
  color-scheme: dark only;
  --color-bg: #1d2f21;
  --color-txt: #ffffff;
  --color-txt-on-dark: #1d2f21;
  --color-primary: #ffe229;
  --color-secondary: #f75f5f;

  --color-success: #6eed9c;
  --color-error: #fa8f8f;
}

:root {
  /** OVERRIDE-TO-DARK **/
  a:hover,
  button:hover,
  .card:hover {
    filter: brightness(110%);
  }
}