:root {
  color-scheme: light only;
  --color-bg: #FFE3F3;
  --color-txt: #1F26FF;
  --color-txt-on-dark: #ffffff;
  --color-primary: #526cfe;
  --color-secondary: #ffffff;
  
  --color-success: #0026ff;
  --color-error: #C026D3;
}