:root {
  color-scheme: light only;
  --color-bg: #f8f9eb;
  --color-txt: #212121;
  --color-txt-on-dark: #ffffff;
  --color-primary: #ffa200;
  --color-secondary: #D47DBD;

  --color-success: #23b157;
  --color-error: #d6c124;
}