:root {
  color-scheme: light only;
  --color-bg: #f8f9eb;
  --color-txt: #212121;
  --color-txt-on-dark: #ffffff;
  --color-primary: #ffa200;
  --color-secondary: #D47DBD;

  --color-success: #23b157;
  --color-error: #d6c124;
}

@media (prefers-color-scheme: dark) {

  /** OVERRIDE-TO-LIGHT **/
  :root {
    --color-accent-inked: color-mix(in oklch, var(--color-txt) 75%, white);

    --color-primary-inked: color-mix(in oklch, var(--color-primary) 85%, black);

    --color-secondary-muted: color-mix(in oklch, var(--color-secondary) 30%, white);

    button:hover,
    .card:hover {
      filter: brightness(90%);
    }

    a:hover {
      filter: brightness(50%);
    }
  }
}