@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
  --font-family-head: 'Reddit Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-familu-navi: 'Sora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-body: 'Sora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-mono: monospace; 

  --color-bg: light-dark(#ffffff, #111827);
  --color-txt: light-dark(#212121, #d8eaff);
  --color-txt-on-dark: #ffffff;
  --color-primary: #0000ee;
  --color-secondary: #8b5cf6;

  --color-success: #23b157;
  --color-error: #ef4444;
}