:root {
  /* fonts */
  --font-family-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-family-head: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-family-mono: monospace;

  /* colors - theme*/
  /* ===== Base Colors ===== */
  --color-primary-light-1: #3b82f6;
  --color-primary-light-2: #93c5fd;
  --color-primary-light-3: #dbeafe;
  --color-primary-dark-1: #2563eb;
  --color-primary-dark-2: #1e3a8a;

  --color-secondary-light-1: #8b5cf6;
  --color-secondary-light-2: #c4b5fd;
  --color-secondary-light-3: #ede9fe;
  --color-secondary-dark-1: #7c3aed;
  --color-secondary-dark-2: #4c1d95;

  --color-success-light-1: #22c55e;
  --color-success-light-2: #86efac;
  --color-success-light-3: #dcfce7;
  --color-success-dark-1: #16a34a;
  --color-success-dark-2: #14532d;

  --color-error-light-1: #ef4444;
  --color-error-light-2: #fca5a5;
  --color-error-light-3: #fee2e2;
  --color-error-dark-1: #dc2626;
  --color-error-dark-2: #7f1d1d;

  --color-accent-light-1: #e5e7eb;
  --color-accent-light-2: #f3f4f6;
  --color-accent-dark-1: #374151;
  --color-accent-dark-2: #1f2937;

  /* ===== Text Colors ===== */
  --color-txt-on-light: #111827;
  --color-txt-on-dark: #f9fafb;

  /* ===== Background Colors ===== */
  --color-bg: light-dark(#ffffff, #111827);
  --color-txt: light-dark(var(--color-txt-on-light), var(--color-txt-on-dark));

  /* style utlitiies */
  --border-radius-highlights: 6px;

  --border-radius-blocks: 4px;
  --border-style-blocks: solid;
  --border-width-blocks: 2px;
  --border-left-style-blocks: solid;
  --border-left-width-blocks: 2px;
  --border-bottom-width-blocks: 5px;
  
  --border-radius-details: 4px;
  --border-style-details: solid;
  --border-width-details: 2px;
  --border-bottom-width-details: 5px;

  --border-radius-action: 4px;
  --border-width-action: 2px;
  --border-bottom-width-action: 5px;

  --border-radius-tabs: 4px;

  --border-radius-form: 6px;
}

button {
  background: light-dark(var(--color-primary-light-3), var(--color-primary-dark-2));
  color: light-dark(var(--color-txt-on-light), var(--color-txt-on-dark));
}