:root {
  /* fonts */
  --font-family-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-family-head: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-family-mono: monospace;

  /* theme colors */
  /* --yellow-light: #fde047;
  --yellow-mid: #facc15;
  --yellow-high: #eab308; */

  /* Primary (Black Ink) */
  --color-primary-light-2: #d4d4d4;
  --color-primary-light-1: #737373;
  --color-primary: #111111;
  --color-primary-dark-1: #000000;
  --color-primary-dark-2: #000000;

  /* Secondary (Soft Gray) */
  --color-secondary-light-2: #f5f5f5;
  --color-secondary-light-1: #e5e5e5;
  --color-secondary: #bfbfbf;
  --color-secondary-dark-1: #737373;
  --color-secondary-dark-2: #525252;

  /* Success (Olive Green) */
  --color-success-light-2: #e8f3d7;
  --color-success-light-1: #c7e6a1;
  --color-success: #708d3a;
  --color-success-dark-1: #566c2f;
  --color-success-dark-2: #3a4a1e;

  /* Error (Brick Red) */
  --color-error-light-2: #fbe4e0;
  --color-error-light-1: #ec9a90;
  --color-error: #c2412f;
  --color-error-dark-1: #9b2c1a;
  --color-error-dark-2: #6b1c12;

  /* Accent / Neutral Gray */
  --color-accent-light-2: #f2f2f2;
  --color-accent-light-1: #d4d4d4;
  --color-accent: #9a9a9a;
  --color-accent-dark-1: #666666;
  --color-accent-dark-2: #3a3a3a;

  /* ===== Text Colors ===== */
  --color-txt-on-light: #111827;
  --color-txt-on-dark: #f9fafb;

  --color-bg: #fff8dc;
  /* --color-bg: #fde047; */
  --color-txt: #111111;

  /* style utlitiies */
  --border-radius-highlights: 6px;

  --border-radius-blocks: 0px;
  --border-style-blocks: solid;
  --border-width-blocks: 2px;
  --border-left-style-blocks: solid;
  --border-left-width-blocks: 2px;
  --border-bottom-width-blocks: 2px;

  --border-radius-details: 4px;
  --border-style-details: solid;
  --border-width-details: 2px;
  --border-bottom-width-details: 2px;

  --border-radius-action: 0px;
  --border-width-action: 2px;
  --border-bottom-width-action: 5px;

  --border-radius-input: 0px;
  --border-width-input: 2px;
  --border-style-input: solid;
  --border-bottom-width-input: 5px;

  --border-radius-tabs: 3px;
}

blockquote { 
  background: var(--color-secondary-light-2);
}
button {
  border-color: var(--color-accent-dark-1);
}

button[type=reset] {
  color: var(--color-txt-on-light);
}
div[role=note],
details[open] {
  border-color: var(--color-accent-dark-1);
}

[role=tablist] {
  background: linear-gradient(0deg, var(--color-bg) 1rem, var(--color-accent-dark-1) 0%);
  border-color: var(--color-accent-dark-1);
}
[role=tablist] input[type=radio]:not(:checked)+label {
  color: var(--color-txt-on-dark);
}