:root {
  /* fonts */
  --font-family-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-family-head: serif;
  --font-family-mono: monospace;

  /* theme colors */
  

  /* style utlitiies */
  --border-radius-highlights: 6px;

  --border-radius-blocks: 0px;
  --border-style-blocks: solid;
  --border-width-blocks: 0px;
  --border-left-style-blocks: solid;
  --border-left-width-blocks: 4px;
  --border-bottom-width-blocks: 0px;
  
  --border-radius-details: 4px;
  --border-style-details: solid;
  --border-width-details: 2px;
  --border-bottom-width-details: 2px;

  --border-radius-action: 20px;
  --border-width-action: 2px;
  --border-bottom-width-action: 2px;

  --border-radius-tabs: 6px;

  --border-radius-form: 6px;
}