:root {
  /* ---------------------- */
  /* general elements       */
  /* ---------------------- */
  --rem: 12pt;
  --width-container-narrow: 800px;
  --width-container-medium: 1200px;
  --width-container-wide: 1600px;
  /* spacing */
  --space-0: 0;
  --space-1: 0.125rem;
  --space-2: 0.25rem;
  --space-3: 0.5rem;
  --space-4: 0.65rem;
  --space-5: 0.75rem;
  --space-6: 1rem;
  --space-7: 1.35rem;
  --space-8: 1.75rem;
  --space-9: 2.5rem;
  --space-10: 4rem;
  /* min heights (for consistent displays) */
  --height-input: 41.48px;
  --height-small-elem: 26px;
  --height-bottom-nav: 77px;
  /* text size */
  --line-height-body: 1.45;
  --line-height-head: 1.25;
  --letter-spacing-head: -0.01em;
  /* font sizes */
  --font-size-base: 15px;
  /* could also be 0.95rem? */
  --font-size-xsm: calc(0.8 * var(--font-size-base));
  --font-size-sm: calc(0.9 * var(--font-size-base));
  --font-size-lg: calc(1.125 * var(--font-size-base));
  --font-size-xl: calc(1.25 * var(--font-size-base));
  --font-size-2xl: calc(1.5 * var(--font-size-base));
  --font-size-3xl: calc(2 * var(--font-size-base));
  --font-weight-head: 600;
  /* ---------------------- */
  /* theme elements         */
  /* ---------------------- */
  /* typography - font type */
  --font-family-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-family-head: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-family-mono: monospace;
  /* colors - base */
  --color-primary-light-1: #93c5fd;
  --color-primary-light-2: #dbeafe;
  --color-primary: #3b82f6;
  --color-primary-dark-1: #2563eb;
  --color-primary-dark-2: #1e3a8a;

  --color-secondary-light-1: #c4b5fd;
  --color-secondary-light-2: #ede9fe;
  --color-secondary: #8b5cf6;
  --color-secondary-dark-1: #7c3aed;
  --color-secondary-dark-2: #4c1d95;

  --color-success-light-1: #86efac;
  --color-success-light-2: #dcfce7;
  --color-success: #23b157;
  --color-success-dark-1: #16a34a;
  --color-success-dark-2: #14532d;

  --color-error-light-1: #fca5a5;
  --color-error-light-2: #fee2e2;
  --color-error: #ef4444;
  --color-error-dark-1: #dc2626;
  --color-error-dark-2: #7f1d1d;

  --color-accent-light-1: #e5e7eb;
  --color-accent-light-2: #f3f4f6;
  --color-accent: #9a9a9a;
  --color-accent-dark-1: #374151;
  --color-accent-dark-2: #1f2937;
  /* colors - text */
  --color-txt-on-light: #111827;
  --color-txt-on-dark: #f9fafb;
  /* colors - bg */
  --color-bg: light-dark(#ffffff, #111827);
  --color-txt: light-dark(var(--color-txt-on-light), var(--color-txt-on-dark));
  /* style elements */
  --border-radius-highlights: 6px;

  --border-radius-blocks: 0px;
  --border-style-blocks: solid;
  --border-width-blocks: 0px;
  --border-left-style-blocks: solid;
  --border-left-width-blocks: 4px;
  --border-bottom-width-blocks: 0px;

  --border-radius-details: 6px;
  --border-style-details: solid;
  --border-width-details: 1px;
  --border-bottom-width-details: 1px;

  --border-radius-action: 6px;
  --border-width-action: 2px;
  --border-bottom-width-action: 2px;

  --border-radius-input: 6px;
  --border-width-input: 2px;
  --border-style-input: solid;
  --border-bottom-width-input: 2px;

  --border-width-nav: 2px;
}

/* ---------------------------------- */
/* reset ---------------------------- */
/* ---------------------------------- */

* {
  box-sizing: border-box;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

header,
footer,
figure,
video,
details,
blockquote,
img,
ul,
ol,
dl,
fieldset,
pre,
pre>code {
  display: block;
  text-align: left;
}

details {
  overflow: hidden;
}

a,
button,
select,
summary {
  cursor: pointer;
}

/* ---------------------------------- */
/* layouts -------------------------- */
/* ---------------------------------- */

/* VERTICAL -------------- */
/* make footer stick to bottom */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* vertical spacing between elements */
h1,
h2 {
  margin-bottom: var(--space-8);
}

h3,
h4,
h5,
h6 {
  margin-bottom: var(--space-7);
}

p,
ul,
ol,
dl,
blockquote,
pre {
  margin-bottom: var(--space-6);
}

ul li {
  margin-bottom: var(--space-2);
}

figure,
table {
  margin-bottom: var(--space-8);
}

pre:has(+ figcaption) {
  margin-bottom: 0;
}

figure>figure {
  margin: 0;
}

fieldset,
details[open] {
  margin-bottom: var(--space-6);
}

section,
article,
aside,
main,
header,
footer {
  margin-bottom: var(--space-8);
}

section {
  margin-bottom: var(--space-10);
}

main {
  margin-top: var(--space-8);
}

main>* {
  margin-top: var(--space-0);
}

hr {
  margin-top: var(--space-7) !important;
  margin-bottom: var(--space-7) !important;
}

blockquote>:first-child {
  margin-top: 0;
}

input,
select,
textarea {
  margin-bottom: var(--space-6);
}

img:has(+ figcaption),
blockquote>:last-child,
[role=note]>:last-child {
  margin-bottom: 0;
}

/* HORIZONTAL ------------------ */

body>* {
  width: min(100% - var(--space-9), var(--width-container-narrow));
  margin-inline: auto;
}

img {
  margin-inline: auto;
  max-width: 100%;
}

.is-hero {
  max-width: none;
  margin-inline: 0;
  width: 100%;
}

.is-hero>* {
  width: min(100% - var(--space-9), var(--width-container-narrow));
  margin-inline: auto;
}

.is-medium-container {
  width: min(100% - var(--space-9), var(--width-container-medium));
  margin-inline: auto;
}

.is-wide-container {
  width: min(100% - var(--space-9), var(--width-container-wide));
  margin-inline: auto;
}

.is-wide-container>*,
.is-medium-container>* {
  width: auto;
}

.is-pulled-center {
  justify-content: center;
  text-align: center;
}

.is-pulled-right {
  margin-left: auto;
}

/* ---------------------------------- */
/* typography ----------------------- */
/* ---------------------------------- */

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-base);
  line-height: var(--line-height-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-head);
  line-height: var(--line-height-head);
  font-weight: var(--font-weight-head);
  font-size: var(--font-size-base);
  letter-spacing: var(--letter-spacing-head);
}

h1 {
  font-size: var(--font-size-3xl);
}

h2 {
  font-size: var(--font-size-2xl);
}

h3 {
  font-size: var(--font-size-xl);
}

h4 {
  font-size: var(--font-size-lg);
}

pre,
code,
kbd,
var {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-sm);
}

figcaption {
  font-style: italic;
  font-size: var(--font-size-sm);
}

input {
  font-size: var(--font-size-sm);
  font-family: var(--font-family-body);
}

select {
  font-weight: bold;
}

button,
input[type=submit],
input[type=reset] {
  font-weight: bold;
  letter-spacing: -0.015em;
  border: solid;
  font-size: var(--font-size-xsm);
  font-family: var(--font-family-body);
}

/* ---------------------------------- */
/* theme - colors ------------------- */
/* ---------------------------------- */

body {
  background: var(--color-bg);
}

* {
  color: var(--color-txt);
}

*>* {
  color: inherit;
}

a {
  color: light-dark(var(--color-primary), var(--color-primary-light-1));
}

a:hover {
  color: light-dark(var(--color-primary-dark-2), var(--color-primary-light-2));
}

hr {
  border-color: inherit;
}

button,
input[type=submit] {
  background: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-txt-on-dark);
}

button[type=reset],
input[type=reset] {
  background: var(--color-bg);
  color: light-dark(var(--color-txt-on-light), var(--color-txt-on-dark));
  border-color: var(--color-primary);
}

blockquote {
  background: light-dark(var(--color-accent-light-2), var(--color-accent-dark-2));
  border-color: var(--color-accent-dark-1);
}

code,
kbd,
mark,
var {
  background: light-dark(var(--color-accent-light-1), var(--color-accent-dark-1));
}

pre {
  background: transparent !important;
}

pre>code {
  background: light-dark(var(--color-accent-light-2), var(--color-accent-dark-2));
  border-color: light-dark(var(--color-secondary-dark-1), var(--color-secondary-dark-1));
  color: light-dark(var(--color-txt-on-light), var(--color-txt-on-dark));
}

mark>*,
kbd>*,
var>* {
  color: currentColor !important;
}

nav ul>li>ul {
  background: var(--color-bg);
  border-color: var(--color-txt);
}

[role=note],
details[open] {
  background: light-dark(var(--color-bg), var(--color-accent-dark-2));
  border-color: light-dark(var(--color-accent-light-1), var(--color-accent-dark-1));
}

[role=note]>p:first-child {
  box-shadow: inset 0 0 0 2em light-dark(var(--color-secondary-light-2), var(--color-secondary-dark-1)), 0 -.8rem 0 .8rem light-dark(var(--color-secondary-light-2), var(--color-secondary-dark-1));
}

details {
  border-color: transparent;
}

summary {
  /* same as <a> */
  color: light-dark(var(--color-primary), var(--color-primary-light-1))
}

details[open]>summary,
summary:hover {
  /* same as <a> */
  color: light-dark(var(--color-primary-dark-2), var(--color-primary-light-2));
  background: light-dark(var(--color-secondary-light-2), var(--color-secondary-dark-1));
}

fieldset,
input,
select,
textarea {
  background: var(--color-bg);
  border-color: light-dark(var(--color-accent-light-1), var(--color-accent-dark-1));
  accent-color: var(--color-secondary);
}

select {
  background: light-dark(var(--color-accent-light-2), var(--color-bg));
  color: light-dark(var(--color-primary-dark-1), var(--color-primary-light-1));
}

:is(input, select, textarea)::placeholder {
  color: var(--color-accent);
}

fieldset:focus,
input:focus,
select:focus,
textarea:focus {
  outline-color: var(--color-primary);
  border-bottom-color: var(--color-primary);
}

fieldset {
  background: light-dark(var(--color-bg), var(--color-accent-dark-2));
}

tr:hover {
  background-color: light-dark(var(--color-accent-light-2), var(--color-accent-dark-1));
}

[aria-selected="true"] a {
  color: light-dark(var(--color-primary-dark-2), var(--color-primary-light-2));
}

.is-success {
  --color-accent-light-1: var(--color-success-light-1);
  --color-accent-light-2: var(--color-success-light-2);
  --color-accent-dark-1: var(--color-success-dark-1);
  --color-accent-dark-2: var(--color-success-dark-2);

  --color-primary: var(--color-success);
  --color-primary-light-1: var(--color-success-light-1);
  --color-primary-light-2: var(--color-success-light-2);
  --color-primary-dark-1: var(--color-success-dark-1);
  --color-primary-dark-2: var(--color-success-dark-2);

  --color-secondary: var(--color-success);
  --color-secondary-light-1: var(--color-success-light-1);
  --color-secondary-light-2: var(--color-success-light-2);
  --color-secondary-dark-1: var(--color-success-dark-1);
  --color-secondary-dark-2: var(--color-success-dark-2);
}

.is-error {
  --color-accent-light-1: var(--color-error-light-1);
  --color-accent-light-2: var(--color-error-light-2);
  --color-accent-dark-1: var(--color-error-dark-1);
  --color-accent-dark-2: var(--color-error-dark-2);

  --color-primary: var(--color-error);
  --color-primary-light-1: var(--color-error-light-1);
  --color-primary-light-2: var(--color-error-light-2);
  --color-primary-dark-1: var(--color-error-dark-1);
  --color-primary-dark-2: var(--color-error-dark-2);

  --color-secondary: var(--color-error);
  --color-secondary-light-1: var(--color-error-light-1);
  --color-secondary-light-2: var(--color-error-light-2);
  --color-secondary-dark-1: var(--color-error-dark-1);
  --color-secondary-dark-2: var(--color-error-dark-2);
}

/* ---------------------------------- */
/* theme - styles ------------------- */
/* ---------------------------------- */

code,
kbd,
var,
mark {
  border-radius: var(--border-radius-highlights);
}

blockquote,
pre>code {
  border-radius: var(--border-radius-blocks);
  border-style: var(--border-style-blocks);
  border-width: var(--border-width-blocks);
  border-left-style: var(--border-left-style-blocks);
  border-left-width: var(--border-left-width-blocks);
  border-bottom-width: var(--border-bottom-width-blocks);
}

details,
[role=note] {
  border-radius: var(--border-radius-details);
  border-width: var(--border-width-details);
  border-style: var(--border-style-details);
  border-bottom-width: var(--border-bottom-width-details);
}

button,
input[type=submit],
input[type=reset] {
  border-style: solid;
  border-width: var(--border-width-action);
  border-radius: var(--border-radius-action);
  border-bottom-width: var(--border-bottom-width-action);
}

nav ul>li>ul {
  border-style: solid;
  border-width: var(--border-width-nav);
}

fieldset,
input,
select,
textarea {
  border-style: var(--border-style-input);
  border-width: var(--border-width-input);
  border-radius: var(--border-radius-input);
}

input:focus,
select:focus,
textarea:focus {
  outline-style: var(--border-style-input);
  outline-width: var(--border-width-input);
  outline-offset: calc(-1 * var(--border-width-input));
}

[role=group]>:is(:first-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

[role=group]>:is(:last-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

[role=group]>:not(:first-child):not(:last-child) {
  border-radius: 0;
}

[role=group]>input,
fieldset,
select {
  border-bottom-width: var(--border-bottom-width-input);
}

/* ---------------------------------- */
/* standard elements ---------------- */
/* ---------------------------------- */

/* images & figures */

img {
  object-fit: cover;
}

figure>figure {
  display: inline-grid;
}

/* form --------------------------- */

fieldset {
  padding: var(--space-5);
  padding-top: var(--space-6);
}

input:not([type=checkbox], [type=radio]),
select,
textarea {
  display: block;
  width: 100%;
  padding: var(--space-3);
  min-height: var(--height-input);
}

select {
  height: var(--height-input);
}

input[type=checkbox],
input[type=radio] {
  margin-right: var(--space-3);
}

input[type=submit] {
  padding-left: var(--space-7);
  padding-right: var(--space-7);
}

input:is([type=checkbox]),
input:is([type=radio]) {
  display: initial;
  width: auto;
}

textarea {
  resize: vertical;
}

label {
  margin-right: var(--space-7);
}

/* buttons ------------------------- */

button,
input[type=submit],
input[type=reset] {
  min-height: var(--height-input);
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
  padding-left: var(--space-7);
  padding-right: var(--space-7);
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

:not([role=group])>button+button {
  margin-left: var(--space-2);
}

button:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  filter: brightness(90%);
}

*:disabled {
  filter: opacity(50%);
  cursor: not-allowed;
}

*:hover:disabled,
input[type=submit]:hover:disabled,
input[type=reset]:hover:disabled {
  filter: opacity(50%);
}

/* summary & details */

summary {
  padding: var(--space-3);
  padding-inline: var(--space-6);
}

details> :not(summary) {
  padding-top: var(--space-3);
  padding-inline: var(--space-6);
}

ul,
ol {
  margin-left: var(--space-8);
}

/* table */

table {
  width: 100%;
  border: none;
}

tr,
th,
td {
  border: none;
  text-align: left;
}

th,
td {
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
  /* @todo: color! */
  border-bottom: 1px solid var(--color-accent-dark-1);
}

tr:last-child>th,
tr:last-child>td {
  border-bottom: none;
}

th:first-child,
td:first-child {
  padding-left: var(--space-3);
}

th:last-child,
td:last-child {
  padding-right: var(--space-3);
}

/* code --------------------------- */

pre {
  padding: 0 !important;
}

pre>code {
  white-space: break-spaces !important;
}

pre>code,
blockquote {
  padding: var(--space-6);
  text-wrap: auto;
  word-wrap: break-word;
}

mark,
code,
kbd,
var {
  padding: var(--space-2);
  padding-inline: var(--space-3);
}

:not([role=group])>mark+mark {
  margin-left: var(--space-2);
}

dt {
  font-weight: bold;
}

dd {
  padding-left: var(--space-3);
}

hr {
  height: 1px;
  display: block;
  border-width: 0px;
  border-top-width: 1px;
}

/* asides ----------------------- */

aside {
  container-type: inline-size;
  min-width: 200px;
}

/* marks ----------------------- */

mark {
  height: var(--height-small-elem);
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

/* navigation (normal) --------------- */

header> :not(nav) {
  padding-top: var(--space-9);
}

body>nav,
header>nav {
  z-index: 41;
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: 0;
}

nav ul {
  overflow: visible;
  /* @todo: vertical! */
  margin-bottom: var(--space-0);
}

nav ul>li {
  display: inline-block;
  padding: var(--space-3);
  padding-left: 0;
  padding-right: var(--space-7);
  /* @todo: vertical! */
  margin-bottom: 0;
}

nav ul>li>* {
  margin: 0;
}

nav a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

nav ul>li>ul {
  display: none;
  width: auto;
  position: absolute;
  z-index: 42;
}

nav ul>li>ul>li {
  white-space: nowrap;
  margin: 0;
}

nav ul>li:hover>ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  padding-inline: var(--space-7);
  padding: var(--space-6);
  align-items: start;
  min-width: 150px;
}

nav li:has(> ul)>a {
  pointer-events: none;
}

nav li:has(> ul)>a::after {
  content: "▼";
  font-size: 0.8em;
  opacity: 0.7;
}

/* ---------------------------------- */
/* custom elements ------------------ */
/* ---------------------------------- */

/* columns -------------------------- */

:is(div, p, section):has(>[role=row]) {
  container-type: inline-size;
  width: 100%;
}

[role=row] {
  display: flex;
  align-items: stretch;
  gap: var(--space-7);
}

[role=row]>div {
  width: 100%;
}

/* group --------------------------- */

[role=group] {
  display: flex;
  align-items: center;
}

[role=group]>* {
  align-items: center;
  /* @todo: vertical! */
  margin-bottom: 0;
}

[role=group]>:is(input[type=submit], input[type=reset], button, mark) {
  width: auto;
  align-self: flex-end;
}

[role=group]>input[type=checkbox],
[role=group]>input[type=radio] {
  margin-right: var(--space-3);
}

[role=group]>:not(:last-child):not(button, input[type=submit], input[type=reset]) {
  border-right-width: 0;
}

[role=group]>:is(:first-child):is(button, input[type=submit], input[type=reset]) {
  border-right-width: var(--border-width-action);
}

[role=group]>:is(button, input[type=submit], input[type=reset])+:is(input, button) {
  border-left-width: 0;
}

[role=group]>[role=row]>div {
  /* @todo: vertical! */
  margin-bottom: 0;
}

/* notes ---------------------------- */

[role=note] {
  overflow: hidden;
  padding: var(--space-5);
  /* @todo: vertical! */
  margin-bottom: var(--space-6);
}

[role=note]>img:first-child {
  max-width: none;
  /* @todo: vertical! */
  margin-top: calc(-1 * var(--space-5));
  margin-left: calc(-1 * var(--space-5));
  width: calc(100% + 2 * var(--space-5));
}

/* tabs ---------------------------- */

/* @todo: color! */
nav[role=tablist]>ul>li[aria-selected="true"] {
  border-bottom: 4px solid light-dark(var(--color-primary-dark-2), var(--color-primary-light-2));
}

nav[role=tablist] ul>li {
  padding-left: var(--space-6);
}

/* icons -------------------------- */

:is(button, input[type=submit], input[type=reset])>svg {
  width: var(--font-size-base);
  height: var(--font-size-base);
  transform: translateY(-0.075em);
}

mark>svg {
  width: var(--font-size-sm);
  height: var(--font-size-sm);
  transform: translateY(0.05em);
}

a>svg {
  width: var(--font-size-xl);
  height: var(--font-size-xl);
  transform: translateY(-0.075em);
}

svg {
  margin: 0;
  padding: 0;
}

svg:only-child {
  transform: translateY(0);
}

svg:has(+*) {
  margin-right: var(--space-2);
}

*:has(+svg) {
  margin-right: var(--space-2);
}

:is(button, input[type=submit], input[type=reset]):has(svg:only-child) {
  padding-left: var(--space-4);
  padding-right: var(--space-4);
}

.is-mobile-only {
  display: none !important;
}

.is-desktop-only {
  display: block !important;
}

/* ---------------------------------- */
/* container support ---------------- */
/* only <aside> works atm ----------- */
/* ---------------------------------- */

@container(max-width: 600px) {

  /* row -------------- */
  :not([role=group])>[role=row] {
    flex-direction: column;
    gap: var(--space-0);
  }
}

@container (max-width: 768px) {
  /* navigation ------ */

  nav>ul {
    flex-direction: column;
    align-items: start;
  }

  nav ul:first-child>li {
    padding-bottom: var(--space-0);
  }
}

@container(max-width: 1024px) {
  /* tabs */

  nav[role=tablist]>ul>li[aria-selected="true"] {
    border-bottom: none;
    padding-left: calc(var(--space-6) - 3px) !important;
    /* @todo: color! */
    border-left: 3px solid light-dark(var(--color-primary-dark-2), var(--color-primary-light-2));
    background-color: light-dark(var(--color-primary-light-2), var(--color-accent-dark-2));
  }

  nav[role=tablist]>ul>li {
    align-content: center;
    width: 100%;
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
    padding-left: var(--space-6) !important;
  }
}

/* ---------------------------------- */
/* mobile support ------------------ */
/* ---------------------------------- */

@media (max-width: 768px) {

  .is-mobile-only {
    display: block !important;
  }

  .is-desktop-only {
    display: none !important;
  }

  /* row -------------- */

  :not([role=group])>[role=row] {
    flex-direction: column;
    gap: var(--space-0);
  }

  /* navigation ------ */

  nav>ul {
    flex-direction: column;
    align-items: start;
  }

  nav ul>li {
    padding-left: var(--space-0);
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
  }

  nav ul>li>ul {
    width: 50%;
  }

  /* menu -------- */

  nav[role=menu] {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0;
    /* @todo: color! */
    background: var(--color-bg);
    border-top: 1px solid light-dark(var(--color-accent-light-1), var(--color-accent-dark-1));
  }

  nav[role=menu]>ul {
    flex-direction: row;
    margin: var(--space-0);
    justify-content: center;
  }

  nav[role=menu]>ul>li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: var(--space-7) !important;
    padding-top: var(--space-6);
    padding-bottom: var(--space-3);
    flex-grow: 1;
    max-width: 100px;
  }

  nav[role=menu]>ul>li>a {
    flex-direction: column;
    font-size: var(--font-size-xsm);
  }

  nav[role=menu] li:has(> ul)>a {
    pointer-events: all;
  }

  nav[role=menu] li:has(> ul)>a::after {
    content: none;
  }

  nav[role=menu] ul>li:hover>ul {
    display: none;
  }

  /* tabs */

  nav[role=tablist]>ul>li[aria-selected="true"] {
    border-bottom: none;
    padding-left: calc(var(--space-6) - 3px);
    /* @todo: color! */
    border-left: 3px solid light-dark(var(--color-primary-dark-2), var(--color-primary-light-2));
    background-color: light-dark(var(--color-primary-light-2), var(--color-accent-dark-2));
  }

  nav[role=tablist]>ul>li {
    width: 100%;
    padding-left: var(--space-6);
  }

  /* other elements --- */

  main {
    /* @todo: vertical! */
    margin-bottom: calc(var(--height-bottom-nav) + var(--space-8));
  }

  footer {
    display: none;
  }

  aside {
    /* @todo: vertical! */
    margin-bottom: var(--space-6);
  }
}

@media (max-width: 480px) {
  nav[role=menu]>ul {
    justify-content: initial;
  }

  nav[role=menu]>ul>li {
    width: 100%;
    max-width: 100%;
    padding-inline: 0;
  }
}