:root {
  /* fonts */
  --font-family-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-family-head: serif;
  --font-family-mono: monospace;

  /* theme colors */
  /* ===== Base Colors ===== */
  --color-primary-light-2: #f3e5d0;
  --color-primary-light-1: #c19a6b;
  --color-primary: #8b5e3c;
  --color-primary-dark-1: #704214;
  --color-primary-dark-2: #3e2723;

  --color-secondary-light-2: #f3f6e5;
  --color-secondary-light-1: #c9d7a8;
  --color-secondary: #7a8b4c;
  --color-secondary-dark-1: #566c2f;
  --color-secondary-dark-2: #3a4a1e;

  --color-success-light-2: #dcfce7;
  --color-success-light-1: #4ade80;
  --color-success: #23b157;
  --color-success-dark-1: #16a34a;
  --color-success-dark-2: #14532d;

  --color-error-light-2: #fee2e2;
  --color-error-light-1: #ffa5a5;
  --color-error: #ef4444;
  --color-error-dark-1: #dc2626;
  --color-error-dark-2: #7f1d1d;

  --color-accent-light-2: #f3f4f6;
  --color-accent-light-1: #e5e7eb;
  --color-accent: #6b7280;
  --color-accent-dark-1: #4b5563;
  --color-accent-dark-2: #2d2d2d;

  /* ===== Text Colors ===== */
  --color-txt-on-light: #2d2d2d;
  --color-txt-on-dark: #f3f4f6;

  /* ===== Background Colors ===== */
  --color-bg: light-dark(#fffaf5, #1c1917);
  --color-txt: light-dark(var(--color-txt-on-light), var(--color-txt-on-dark));

  /* style utlitiies */
  --border-radius-highlights: 6px;

  --border-radius-blocks: 0px;
  --border-style-blocks: solid;
  --border-width-blocks: 0px;
  --border-left-style-blocks: solid;
  --border-left-width-blocks: 4px;
  --border-bottom-width-blocks: 0px;

  --border-radius-details: 4px;
  --border-style-details: solid;
  --border-width-details: 2px;
  --border-bottom-width-details: 2px;

  --border-radius-action: 20px;
  --border-width-action: 2px;
  --border-bottom-width-action: 2px;

  --border-radius-tabs: 6px;

  --border-radius-form: 6px;
}

blockquote {
  background: none;
}

blockquote.success,
blockquote.error {
  background: light-dark(var(--color-accent-light-2), var(--color-accent-dark-2));
}