:root {
  /* ---------------------- */
  /* general elements       */
  /* ---------------------- */
  --rem: 12pt;
  --width-container-narrow: 800px;
  --width-container-medium: 1200px;
  --width-container-wide: 1600px;
  /* spacing */
  --space-1: 0.125rem;
  --space-2: 0.25rem;
  --space-3: 0.5rem;
  --space-4: 0.65rem;
  --space-5: 0.75rem;
  --space-6: 1rem;
  --space-7: 1.35rem;
  --space-8: 1.75rem;
  --space-9: 2.5rem;
  --space-10: 4rem;
  /* min heights (for consistent displays) */
  --height-input: 41.48px;
  --height-small-elem: 26px;
  --height-bottom-nav: 77px;
  /* text size */
  --line-height-body: 1.45;
  --line-height-head: 1.25;
  --letter-spacing-head: -0.01em;
  /* font sizes */
  --font-size-base: 15px;
  /* could also be 0.95rem? */
  --font-size-xsm: calc(0.8 * var(--font-size-base));
  --font-size-sm: calc(0.9 * var(--font-size-base));
  --font-size-lg: calc(1.125 * var(--font-size-base));
  --font-size-xl: calc(1.25 * var(--font-size-base));
  --font-size-2xl: calc(1.5 * var(--font-size-base));
  --font-size-3xl: calc(2 * var(--font-size-base));
  --font-weight-head: 600;
  /* ---------------------- */
  /* theme elements         */
  /* ---------------------- */
  /* typography - font type */
  --font-family-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-family-head: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-family-mono: monospace;
  /* colors - base */
  --color-primary-light-1: #93c5fd;
  --color-primary-light-2: #dbeafe;
  --color-primary: #3b82f6;
  --color-primary-dark-1: #2563eb;
  --color-primary-dark-2: #1e3a8a;

  --color-secondary-light-1: #c4b5fd;
  --color-secondary-light-2: #ede9fe;
  --color-secondary: #8b5cf6;
  --color-secondary-dark-1: #7c3aed;
  --color-secondary-dark-2: #4c1d95;

  --color-success-light-1: #86efac;
  --color-success-light-2: #dcfce7;
  --color-success: #23b157;
  --color-success-dark-1: #16a34a;
  --color-success-dark-2: #14532d;

  --color-error-light-1: #fca5a5;
  --color-error-light-2: #fee2e2;
  --color-error: #ef4444;
  --color-error-dark-1: #dc2626;
  --color-error-dark-2: #7f1d1d;

  --color-accent-light-1: #e5e7eb;
  --color-accent-light-2: #f3f4f6;
  --color-accent: #9a9a9a;
  --color-accent-dark-1: #374151;
  --color-accent-dark-2: #1f2937;
  /* colors - text */
  --color-txt-on-light: #111827;
  --color-txt-on-dark: #f9fafb;
  /* colors - bg */
  --color-bg: light-dark(#ffffff, #111827);
  --color-txt: light-dark(var(--color-txt-on-light), var(--color-txt-on-dark));
  /* style elements */
  --border-radius-highlights: 6px;

  --border-radius-blocks: 0px;
  --border-style-blocks: solid;
  --border-width-blocks: 0px;
  --border-left-style-blocks: solid;
  --border-left-width-blocks: 4px;
  --border-bottom-width-blocks: 0px;

  --border-radius-action: 6px;
  --border-width-action: 2px;
  --border-bottom-width-action: 2px;

  --border-radius-input: 6px;
  --border-width-input: 2px;
  --border-style-input: solid;
  --border-bottom-width-input: 2px;

  --border-width-nav: 2px;

  --border-radius-note: 6px;
  --border-style-note: solid;
  --border-width-note: 1px;
  --border-bottom-width-note: 1px;
}

* {
  box-sizing: border-box;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}
