/* vertical layout */ 

body {
  min-height: 100vh;
}

body, #root {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

main {
  flex: 1;
}

header {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}