/* vertical layout */ 

body {
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;
  /* gap: var(--space-3); */
}

body, #root {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

main {
  flex: 1;
}

header {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
}