/* misc */

body {
  min-height: 100vh;
}

main {
  flex: 1;
}

/* self layout: top margins */

main {
  margin-top: var(--space-l);
}

dialog {
  margin-top: var(--space-xl);
}

hr {
  margin-top: var(--space-l) !important;
}

/* self layout: bottom margins */

details {
  margin-bottom: var(--space-2xs);
}

p,
ul,
ol,
dl,
form,
table,
blockquote,
pre,
menu,
.card {
  margin-bottom: var(--space-m);
}

h1,
h2 {
  margin-bottom: var(--space-l);
}

h3,
h4 {
  margin-bottom: var(--space-m);
}

h5,
h6 {
  margin-bottom: var(--space-xs);
}

hr {
  margin-bottom: var(--space-l) !important;
}

figure {
  margin-bottom: var(--space-l);

  &>figure {
    margin-bottom: 0;
  }
}

section {
  margin-bottom: var(--space-xl);
}

header {
  margin-bottom: var(--space-l);
}

header>nav>* {
  margin-bottom: 0;
}

header:has(+ header) {
  margin-bottom: 0;
}

*:has(+ figcaption) {
  margin-bottom: 0;
}

/* child displays */

blockquote {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);

  &>* {
    margin-bottom: 0;
  }
}

form,
fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);

  &>* {
    margin-bottom: 0 !important;
  }
}

ul,
ol,
dl {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}

details[open] {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  &>* {
    margin-bottom: 0;
  }
}

details:not([open]) {
  gap: 0 !important;
}

details[name]:has(+ details[name]) {
  margin-bottom: 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);

  &>* {
    margin-bottom: 0;
  }
}

header> :not(:is(nav, menu)) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: 16.0 / 9.0;
  max-height: 40rem;
}

section>header>:not(:is(nav, menu)) {
  aspect-ratio: auto;
  max-height: initial;
}

@media (max-width: 480px) {
  header> :not(:is(nav, menu)) {
    aspect-ratio: 1.0/1.25;
  }
}