/* vertical layout */ 

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1,
h2 {
  margin-bottom: var(--space-8);
}

h3,
h4,
h5,
h6 {
  margin-bottom: var(--space-7);
}

p {
  margin-bottom: var(--space-6);
}

main {
  margin-top: var(--space-8);
}

main>* {
  margin-top: 0;
}

section,
article,
aside,
main,
header,
footer {
  margin-bottom: var(--space-8);
}

header>:not(nav):not(menu) {
  padding-top: var(--space-9);
}

section {
  margin-bottom: var(--space-10);
}

hr {
  margin-top: var(--space-7) !important;
  margin-bottom: var(--space-7) !important;
}

/* horizontal layout */ 

body>* {
  width: min(100% - var(--space-9), var(--width-page));
  margin-inline: auto;
}

/* base */ 

header,
footer {
  display: block;
  text-align: left;
}

hr {
  height: 1px;
  display: block;
  border-width: 0px;
  border-top-width: 1px;
}

aside {
  min-width: 200px;
}

/* typography */

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-base);
  line-height: var(--line-height-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-head);
  line-height: var(--line-height-head);
  font-weight: var(--font-weight-head);
  font-size: var(--font-size-base);
  letter-spacing: var(--letter-spacing-head);
}

h1 {
  font-size: var(--font-size-3xl);
}

h2 {
  font-size: var(--font-size-2xl);
}

h3 {
  font-size: var(--font-size-xl);
}

h4 {
  font-size: var(--font-size-lg);
}

/* theme colors */ 

body {
  background: var(--color-bg);
}

* {
  color: var(--color-txt);
}

*>* {
  color: inherit;
}

hr {
  border-color: inherit;
}

[aria-selected="true"] a {
  color: light-dark(var(--color-primary-dark-2), var(--color-primary-light-2));
}

/* different layouts */

@container (max-width: 600px) {
  main {
    margin-bottom: calc(var(--height-bottom-nav) + var(--space-8));
  }

  footer {
    display: none;
  }

  aside {
    margin-bottom: var(--space-6);
  }
}