/* base */

a {
  cursor: pointer;
}

/* theme colors */

a {
  --color: var(--color-primary);
}

a {
  color: var(--color-link);
  /* color: var(--color-int-primary-inked); */
}

a:hover,
[aria-selected="true"] a {
  color: var(--color-link-hover);
  /* color: var(--color-int-primary-inked-hover); */
}