/* base */

a {
  cursor: pointer;
}

/* theme colors */

a {
  --color-textual: var(--color-primary);
}

a {
  color: var(--color-textual-dark-1);
}

a:hover,
[aria-selected="true"] a {
  color: var(--color-textual-dark-2);
}