/* vertical layout */

[role=note] {
  margin-bottom: var(--space-6);
}

[role=note]>:last-child {
  margin-bottom: 0;
}

[role=note]>:nth-child(2) {
  margin-top: var(--space-7);
}

[role=note]>img:first-child {
  margin-top: calc(-1 * var(--space-5));
  margin-left: calc(-1 * var(--space-5));
}

/* horizontal layout */

[role=note]>img:first-child {
  width: calc(100% + 2 * var(--space-5));
}

/* base */

[role=note] {
  overflow: hidden;
  padding: var(--space-5);
}

[role=note]>img:first-child {
  max-width: none;
}

/* theme colors */

[role=note] {
  background: light-dark(var(--color-bg), var(--color-accent-dark-2));
  border-color: light-dark(var(--color-accent-light-1), var(--color-accent-dark-1));
}

[role=note]>:is(p, summary):first-child {
  box-shadow: inset 0 0 0 2em light-dark(var(--color-secondary-light-2), var(--color-secondary-dark-1)), 0 0rem 0 .8rem light-dark(var(--color-secondary-light-2), var(--color-secondary-dark-1));
}

[role=note]>summary:first-child:hover {
  box-shadow: inset 0 0 0 2em light-dark(var(--color-secondary-light-1), var(--color-secondary)), 0 0rem 0 .8rem light-dark(var(--color-secondary-light-1), var(--color-secondary));
}

/* theme styles */

[role=note] {
  border-radius: var(--border-radius-note);
  border-width: var(--border-width-note);
  border-style: var(--border-style-note);
  border-bottom-width: var(--border-bottom-width-note);
}