/* vertical layout */

ul,
ol,
dl {
  margin-bottom: var(--space-m);
}

/* horizontal layout */

ul,
ol {
  margin-left: var(--space-l);
}

/* base */ 

ul,
ol,
dl {
  /* display: block; */
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}

dt {
  font-weight: bold;
}

dd {
  padding-left: var(--space-xs);
}