/* vertical layout */

fieldset,
input,
select,
textarea {
  margin-bottom: var(--space-6);
}

/* horizontal layout */

label {
  margin-right: var(--space-7);
}

/* base */

fieldset {
  display: block;
  text-align: left;
  padding-inline: var(--space-5);
  padding-top: var(--space-6);
  padding-bottom: 0;
}

select {
  cursor: pointer;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  min-width: 0;
  padding: var(--space-3);
  min-height: var(--height-input);
  text-align: left;
}

select {
  height: var(--height-input);
}

textarea {
  resize: vertical;
}

/* typography */

input,
select,
textarea {
  font-size: var(--font-size-base);
  font-family: var(--font-family-body);
}

select {
  font-weight: bold;
}

/* theme style */

input,
select,
textarea {
  border-radius: var(--border-radius-input);

  border-left-width: var(--border-left-width-input);
  border-left-style: var(--border-left-style-input);
  border-right-width: var(--border-right-width-input);
  border-right-style: var(--border-right-style-input);
  border-top-width: var(--border-top-width-input);
  border-top-style: var(--border-top-style-input);
  border-bottom-width: var(--border-bottom-width-input);
  border-bottom-style: var(--border-bottom-style-input);
}

input:focus,
select:focus,
textarea:focus {
  outline: var(--outline-input);
  outline-offset: var(--outline-offset-input);
}

select {
  border-left-width: var(--border-left-width-select);
  border-left-style: var(--border-left-style-select);
  border-right-width: var(--border-right-width-select);
  border-right-style: var(--border-right-style-select);
  border-top-width: var(--border-top-width-select);
  border-top-style: var(--border-top-style-select);
  border-bottom-width: var(--border-bottom-width-select);
  border-bottom-style: var(--border-bottom-style-select);
}

fieldset {
  border-radius: var(--border-radius-card);

  border-left-width: var(--border-left-width-card);
  border-left-style: var(--border-left-style-card);
  border-right-width: var(--border-right-width-card);
  border-right-style: var(--border-right-style-card);
  border-top-width: var(--border-top-width-card);
  border-top-style: var(--border-top-style-card);
  border-bottom-width: var(--border-bottom-width-card);
  border-bottom-style: var(--border-bottom-style-card);
}

/* theme colors */

fieldset,
input,
select,
textarea {
  background: var(--color-bg);
  border-color: var(--color-border);
  color: var(--color-txt);
  accent-color: var(--color-secondary);
}

select {
  background: light-dark(var(--color-accent-faint), var(--color-bg));
  border-color: var(--color-border);
  color: var(--color-primary-inked);
}

:is(input, select, textarea)::placeholder {
  filter: opacity(70%);
}

fieldset:focus,
input:focus,
select:focus,
textarea:focus {
  outline-color: var(--color-primary);
  border-bottom-color: var(--color-primary);
}

fieldset {
  background: light-dark(var(--color-bg), var(--color-accent-faint));
  border-color: var(--color-border);
}