/* vertical layout */

svg {
  margin: 0;
}

/* horizontal layout */ 

svg:has(+*) {
  margin-right: var(--space-2) !important;
}

*:has(+svg) {
  margin-right: var(--space-2) !important;
}

/* base */

svg {
  padding: 0;
}

svg:only-child {
  transform: translateY(0);
}

:is(button, input[type=submit], input[type=reset])>svg {
  width: var(--font-size-base);
  height: var(--font-size-base);
  transform: translateY(-0.075em);
}

:is(button, input[type=submit], input[type=reset]):has(svg:only-child) {
  padding-left: var(--space-4);
  padding-right: var(--space-4);
}

mark>svg {
  width: var(--font-size-sm);
  height: var(--font-size-sm);
  transform: translateY(0.05em);
}

a>svg {
  width: var(--font-size-xl);
  height: var(--font-size-xl);
  transform: translateY(-0.075em);
}