/* vertical layout */

table {
  margin-bottom: var(--space-8);
}

/* base */

table {
  width: 100%;
  border: none;
}

tr,
th,
td {
  border: none;
  text-align: left;
}

th,
td {
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
  min-width: 40px;
}

tr:last-child>th,
tr:last-child>td {
  border-bottom: none;
}

th:first-child,
td:first-child {
  padding-left: var(--space-3);
}

th:last-child,
td:last-child {
  padding-right: var(--space-3);
}

/* theme colors */

th,
td {
  border-bottom: 1px solid var(--color-accent-dark-1);
}

tr:hover {
  background-color: light-dark(var(--color-accent-light-2), var(--color-accent-dark-1));
}