/* base */

input[type=checkbox],
input[type=radio] {
  display: initial;
  width: auto;
  min-width: auto;
  padding: auto;
  min-height: auto;
}

/* 
 * make labels that are parts of checboxes and radio buttons 
 * diplay as flex so any inline padding the browser adds is nulliied
 */ 
label:has(> input[type="checkbox"]),
label:has(> input[type="radio"]) {
  display: inline-flex;
  align-items: baseline;
  gap: var(--space-xs);
}
