/* vertical layout */ 

details {
  margin-bottom: var(--space-2);
}

details>:nth-child(2) {
  margin-top: var(--space-4);
}

/* base */ 

details {
  display: block;
  text-align: left;
  overflow: hidden;
}

summary {
  cursor: pointer;
}