/* theme colors */

:is(input, textarea)[value]:not(:focus):invalid {
  --color-outline: var(--color-error);
  --color-control: var(--color-error);
  --color-borders: var(--color-error);
  --color-textual: var(--color-error);

  background: var(--color-control-light-3);
  border-color: var(--color-outline);
}

:is(input, textarea):not(:placeholder-shown):not(:focus):invalid {
  --color-outline: var(--color-error);
  --color-control: var(--color-error);
  background: var(--color-control-light-3);
}

:is(input, textarea):not(:placeholder-shown):valid + .error,
:is(input, textarea):not(:placeholder-shown):focus + .error,
:is(input, textarea):placeholder-shown + .error {
  color: inherit;
}

:is(input, textarea):not(:placeholder-shown):not(:focus):invalid + .error {
  --color-textual: var(--color-error);
}

:is(input, textarea):placeholder-shown:not(:focus) {
  --color-control: var(--color-base) !important;
  --color-borders: var(--color-base) !important;
  
  background: var(--color-control-light-5) !important;
  border-color: var(--color-borders-light-1) !important;
}
