/* vertical layout */

:is(input, textarea)+.error {
  margin-top: calc(-1 * var(--space-6));
  margin-bottom: var(--space-6);
}

/* theme colors */

:is(input, textarea)[value]:not(:focus):invalid {
  border-color: var(--color-error);
  background: light-dark(var(--color-error-light-2), var(--color-error-dark-2));
}

:is(input, textarea):not(:placeholder-shown):not(:focus):invalid {
  border-color: var(--color-error);
  background: light-dark(var(--color-error-light-2), var(--color-error-dark-2));
}

:is(input, textarea):not(:placeholder-shown):not(:focus):invalid + .error {
  color: light-dark(var(--color-error), var(--color-error-light-1));
}

:is(input, textarea):placeholder-shown {
  background: var(--color-bg) !important;
  border-color: light-dark(var(--color-accent-light-1), var(--color-accent-dark-1)) !important;
}
