/* theme colors */

:is(input, textarea)[value]:not(:focus):invalid {
  --color: var(--color-error);
  background: var(--color-surface-light);
  border-color: var(--color);
}

:is(input, textarea):not(:placeholder-shown):not(:focus):invalid {
  --color: var(--color-error);
  background: var(--color-surface-light);
}

:is(input, textarea):not(:placeholder-shown):valid + .error,
:is(input, textarea):not(:placeholder-shown):focus + .error,
:is(input, textarea):placeholder-shown + .error {
  background-color: transparent !important;
  color: var(--color-txt) !important;
}

:is(input, textarea):not(:placeholder-shown):not(:focus):invalid + .error {
  color: var(--color-error);
}

:is(input, textarea):placeholder-shown:not(:focus) {
  --color: var(--color-base) !important;
  background: var(--color-surface) !important;
  border-color: var(--color-border) !important;
}
