/* horizontal layout */

button+button,
input[type=submit]+input[type=submit],
input[type=submit]+input[type=reset],
input[type=reset]+input[type=reset],
input[type=reset]+input[type=submit] {
  margin-left: var(--space-2);
}

/* base */

button,
input[type=submit],
input[type=reset] {
  cursor: pointer;
  min-height: var(--height-button);
  min-width: auto;
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
  padding-left: var(--space-7);
  padding-right: var(--space-7);
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  /* Mobile Safari */
  -webkit-appearance: none;
  appearance: none;
}

/* button:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  filter: brightness(90%);
} */

*:disabled {
  filter: opacity(50%);
  cursor: not-allowed;
}

*:hover:disabled,
input[type=submit]:hover:disabled,
input[type=reset]:hover:disabled {
  filter: opacity(50%);
}

/* typography */

button,
input[type=submit],
input[type=reset] {
  font-weight: bold;
  letter-spacing: -0.015em;
  border: solid;
  font-size: var(--font-size-xsm);
  font-family: var(--font-family-body);
}

/* theme style */

button,
input[type=submit],
input[type=reset] {
  border-radius: var(--border-radius-button);

  border-left-width: var(--border-left-width-button);
  border-left-style: var(--border-left-style-button);
  border-right-width: var(--border-right-width-button);
  border-right-style: var(--border-right-style-button);
  border-top-width: var(--border-top-width-button);
  border-top-style: var(--border-top-style-button);
  border-bottom-width: var(--border-bottom-width-button);
  border-bottom-style: var(--border-bottom-style-button);
}

/* theme colors */

button,
input[type=submit] {
  background: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-txt-on-dark);
}

button:hover,
input[type=submit]:hover {
  background: var(--color-primary-hover);
}

button[type=reset],
input[type=reset] {
  background: var(--color-bg);
  color: var(--color-txt);
  border-color: var(--color-primary);
}

button[type=reset]:hover,
input[type=reset]:hover {
  background: var(--color-bg-hover);
}