/* vertical layout */ 

pre {
  margin-bottom: var(--space-6);
}

pre:has(+ figcaption) {
  margin-bottom: 0;
}

/* horizontal layout */

mark + mark,
code + code {
  margin-left: var(--space-2);
}

/* base */ 

pre {
  padding: 0 !important;
}

code,
kbd,
var,
mark {
  padding: var(--space-2);
  padding-inline: var(--space-3);
  display: inline-block;
}

mark {
  height: var(--height-small-elem);
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

pre,
pre>code {
  display: block;
  text-align: left;
}

pre>code {
  text-wrap: auto;
  word-wrap: break-word;
  white-space: break-spaces !important;
  padding: var(--space-6);
}

/* typography */

pre,
code,
kbd,
var {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-sm);
}

/* theme colors */

code,
kbd,
var,
mark {
  background: light-dark(var(--color-accent-light-1), var(--color-accent-dark-1));
}

pre {
  background: transparent !important;
}

pre>code {
  background: light-dark(var(--color-accent-light-2), var(--color-accent-dark-2));
  border-color: light-dark(var(--color-secondary-dark-1), var(--color-secondary-dark-1));
  color: light-dark(var(--color-txt-on-light), var(--color-txt-on-dark));
}

kbd>*,
var>*,
mark>* {
  color: currentColor !important;
}

/* theme styles */

code,
kbd,
var,
mark {
  border-radius: var(--border-radius-highlights);
}

pre>code {
  border-radius: var(--border-radius-blocks);
  border-style: var(--border-style-blocks);
  border-width: var(--border-width-blocks);
  border-left-style: var(--border-left-style-blocks);
  border-left-width: var(--border-left-width-blocks);
  border-bottom-width: var(--border-bottom-width-blocks);
}
