/* base */ 

a {
  cursor: pointer;
}

/* theme colors */

a {
  color: light-dark(var(--color-primary), var(--color-primary-light-1));
}

a:hover {
  color: light-dark(var(--color-primary-dark-2), var(--color-primary-light-2));
}