/* vertical layout */

th,
td {
  padding-right: var(--space-m);
}

/* base */

table {
  width: 100%;
  border: none;
}

tr,
th,
td {
  border: none;
  text-align: left;
}

th,
td {
  /* padding-block: var(--space-xs); */
  padding: var(--space-xs)
}

tr:last-child>th,
tr:last-child>td {
  border-bottom: none;
}

th:last-child,
td:last-child {
  padding-right: var(--space-xs);
}

/* theme style */

th,
td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

thead>tr>th {
  border-bottom-style: solid !important;
  border-bottom-width: 2px !important;
}

tfoot>tr>td {
  border-top-style: solid !important;
  border-top-width: 2px !important;
}

/* theme colors */

th,
td,
thead>tr>th {
  border-bottom-color: var(--color-border) !important;
}

tfoot>tr>td {
  border-top-color: var(--color-border) !important;
}

tr:hover {
  background: var(--color-surface-hover);
}