/* vertical layout */

blockquote,
pre {
  margin-bottom: var(--space-6);
}

blockquote>:first-child {
  margin-top: 0;
}

blockquote>:last-child,
pre:has(+ figcaption) {
  margin-bottom: 0;
}

/* base */

blockquote {
  display: block;
  text-align: left;
  padding: var(--space-6);
  text-wrap: auto;
  word-wrap: break-word;
}

pre {
  padding: 0 !important;
  display: block;
  text-align: left;
}

pre>code {
  display: block;
  text-align: left;
  text-wrap: auto;
  word-wrap: break-word;
  word-break: break-all;
  white-space: break-spaces !important;
  padding: var(--space-6);
}

/* theme styles */

blockquote,
pre>code {
  border-radius: var(--border-radius-blocks);

  border-left-width: var(--border-left-width-blocks);
  border-left-style: var(--border-left-style-blocks);
  border-right-width: var(--border-right-width-blocks);
  border-right-style: var(--border-right-style-blocks);
  border-top-width: var(--border-top-width-blocks);
  border-top-style: var(--border-top-style-blocks);
  border-bottom-width: var(--border-bottom-width-blocks);
  border-bottom-style: var(--border-bottom-style-blocks);
}

/* theme colors */

blockquote {
  background: light-dark(var(--color-accent-light-2), var(--color-accent-dark-2));
  border-color: var(--color-accent-dark-1);
}

pre {
  background: transparent !important;
}

pre>code {
  background: light-dark(var(--color-accent-light-2), var(--color-accent-dark-2));
  border-color: light-dark(var(--color-secondary-dark-1), var(--color-secondary-dark-1));
  color: light-dark(var(--color-txt-on-light), var(--color-txt-on-dark));
}