/* vertical layout */

blockquote {
  margin-bottom: var(--space-6);
}

blockquote>:first-child {
  margin-top: 0;
}

blockquote>:last-child {
  margin-bottom: 0;
}

/* base */

blockquote {
  display: block;
  text-align: left;
  padding: var(--space-6);
  text-wrap: auto;
  word-wrap: break-word;
}

/* theme styles */

blockquote {
  border-radius: var(--border-radius-blocks);
  border-left: var(--border-left-blocks);
  border-right: var(--border-right-blocks);
  border-top: var(--border-top-blocks);
  border-bottom: var(--border-bottom-blocks);
}

/* theme colors */

blockquote {
  background: light-dark(var(--color-accent-light-2), var(--color-accent-dark-2));
  border-color: var(--color-accent-dark-1);
}