/* base */

blockquote {
  text-align: left;
  text-wrap: auto;
  word-wrap: break-word;
  padding: var(--space-m);
}

pre {
  padding: 0 !important;
  display: block;
  text-align: left;
}

pre>code {
  display: block;
  text-align: left;
  text-wrap: auto;
  word-wrap: break-word;
  word-break: auto-phrase;
  padding: var(--space-m);
  overflow-x: auto;
}

/* theme styles */

blockquote,
pre>code {
  border-radius: var(--border-radius-blocks);
  border-width: var(--border-width-blocks);
  border-style: var(--border-style-blocks);
}

/* theme colors */

blockquote,
pre>code {
  background: var(--color-surface-light-3);
  border-color: var(--color-borders-dark-1);
}

pre {
  /* background: transparent !important; */
  background: var(--color-surface-light-3) !important;
}