/* horizontal layout */

mark+mark,
code+code {
  margin-left: var(--space-2);
}

/* base */

code,
kbd,
var,
mark {
  padding: var(--space-2);
  padding-inline: var(--space-3);
  display: inline-block;
}

mark {
  height: var(--height-small-code);
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

/* typography */

code,
kbd,
var {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-sm);
}

/* theme styles */

code,
kbd,
var,
mark {
  border-radius: var(--border-radius-code);
  border-left: var(--border-left-code);
  border-right: var(--border-right-code);
  border-top: var(--border-top-code);
  border-bottom: var(--border-bottom-code);
}

/* theme colors */

code,
kbd,
var,
mark {
  border-color: var(--color-accent);
  background: light-dark(var(--color-accent-light-1), var(--color-accent-dark-1));
}

kbd>*,
var>*,
mark>* {
  color: currentColor !important;
}