/* horizontal layout */

mark+mark,
code+code {
  margin-left: var(--space-2);
}

/* base */

code,
kbd,
var,
mark {
  padding: var(--space-2);
  padding-inline: var(--space-3);
  display: inline-block;
}

mark {
  height: var(--height-small-code);
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

/* typography */

code,
kbd,
var {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-sm);
}

/* theme styles */

code,
kbd,
var,
mark {
  border-radius: var(--border-radius-code);

  border-left-width: var(--border-left-width-code);
  border-left-style: var(--border-left-style-code);
  border-right-width: var(--border-right-width-code);
  border-right-style: var(--border-right-style-code);
  border-top-width: var(--border-top-width-code);
  border-top-style: var(--border-top-style-code);
  border-bottom-width: var(--border-bottom-width-code);
  border-bottom-style: var(--border-bottom-style-code);
}

/* theme colors */

code,
kbd,
var,
mark {
  background: var(--color-accent-muted);
}

kbd>*,
var>*,
mark>* {
  color: currentColor !important;
}