/* vertical layout */

details {
  margin-bottom: var(--space-2xs);
}

/* base */

details {
  display: block;
  text-align: left;
  overflow: hidden;
}

details:open {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}
details:not(:open) {
  gap: 0;
}

summary {
  cursor: pointer;
}