/* vertical layout */

svg {
  margin: 0;
}

/* horizontal layout */

svg:has(+*),
*:has(+svg) {
  margin-right: var(--space-2) !important;
}

/* base */

svg {
  padding: 0;
}

:is(button, input[type=submit], input[type=reset])>svg {
  width: var(--font-size-base);
  height: var(--font-size-base);
}

:is(button, input[type=submit], input[type=reset]):has(svg:only-child) {
  padding-left: var(--space-4);
  padding-right: var(--space-4);
}

mark>svg,
code>svg {
  width: var(--font-size-sm);
  height: var(--font-size-sm);
}

a>svg {
  width: var(--font-size-xl);
  height: var(--font-size-xl);
}