/* vertical layout */

svg {
  margin: 0;
}

/* horizontal layout */

svg:has(+*),
*:has(+svg),
button > img:has(+*),
button>*:has(+img) {
  margin-right: var(--space-2) !important;
}

/* base */

svg, button>img {
  padding: 0;
}

:is(button, input[type=submit], input[type=reset])>:is(svg, img) {
  width: var(--font-size-base);
  height: var(--font-size-base);
}

:is(button, input[type=submit], input[type=reset]):has(:is(svg:only-child, img:only-child)) {
  padding-left: var(--space-4);
  padding-right: var(--space-4);
}

mark>:is(svg, img),
code>:is(svg, img) {
  width: var(--font-size-sm);
  height: var(--font-size-sm);
}

a>:is(svg, img) {
  width: var(--font-size-xl);
  height: var(--font-size-xl);
}