menu {
  display: flex;
  flex-direction: row;
  gap: var(--space-m);

  align-items: center;
}

menu>li {
  padding-inline: var(--space-sm);
  padding-bottom: var(--space-xs);
}

/* theme styles */
/* theme colors */

menu>li {
  /* --color: var(--color-primary); */
  border-bottom-width: var(--border-width-horz-tabs);
  border-bottom-style: solid;
  border-bottom-color: var(--color-surface);
}

menu>li>a {
  color: var(--color-txt);
}

menu>li>a:hover {
  --color: var(--color-primary);
  color: var(--color-link);
}

menu>li[aria-selected="true"] {
  --color: var(--color-primary);
  border-bottom-color: var(--color-surface-dark);
}

menu>li[aria-selected="true"]>a {
  --color: var(--color-primary);
  color: var(--color-link);
}

/* different layouts */

*:not(nav):has(> menu):not(.disable-mobile) {
  container-type: inline-size;
  container-name: tabs;
}

@container tabs (max-width: 600px) {
  menu {
    flex-direction: column;
    align-items: start;
    gap: var(--space-2xs);
  }

  menu>li {
    align-content: center;
    width: 100%;
    padding-left: var(--space-xs) !important;
    border-bottom: none;
    padding-bottom: 0;
  }

  menu>li[aria-selected="true"] {
    border-bottom: none;
    background: var(--color-surface-light);
  }
}