/* base */

nav>menu {
  display: flex;
  flex-direction: row;
  gap: var(--space-l);

  align-items: center;
}

nav>menu>li {
  display: flex;

  align-items: center;
  justify-content: center;
  padding-top: var(--space-m);
  padding-bottom: var(--space-xs);
  max-width: 100px;

  padding-inline: 0;
  border: none;
}

nav>menu>li>a {
  display: inline-flex;
  flex-direction: column;

  text-decoration: none;
  align-items: center;
  vertical-align: middle;
}

nav>menu li:has(> ul)>a {
  pointer-events: all;
}

nav>menu li:has(> ul)>a::after {
  content: none;
}

nav>menu>li>ul {
  display: none;
}

/* typography */

nav>menu>li>a {
  font-size: var(--font-size-xsm);
}

/* different layouts */

header:has(nav > menu):not(.disable-mobile) {
  container-type: inline-size;
  container-name: menu;
}

@container menu (max-width: 600px) {
  nav>menu {
    position: fixed;
    width: 100% !important;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    gap: 0;
    background: var(--color-bg);
    border-top: 1px solid var(--color-int-border);
  }

  nav>menu>li {
    flex-grow: 1;
    flex-basis: 999px;
  }

  /* note: this is for tabs to not have padding ... */
  header>nav:is(:first-child) {
    padding-top: 0;
  }

  header>nav:is(:last-child) {
    padding-bottom: 0;
  }
}