/* @todo: should this be here or in header section? */
header> :not(nav) {
  padding-top: var(--space-9);
}

/* vertical layout */

nav ul {
  margin-bottom: 0;
}

nav ul>li {
  margin-bottom: 0;
}

nav ul>li>* {
  margin: 0;
}

nav ul>li>ul>li {
  margin: 0;
}

/* base */

body>nav,
header>nav {
  z-index: 41;
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
}

nav ul {
  display: flex;
  gap: var(--space-7);
  align-items: center;
  list-style-type: none;
  margin-left: 0;
  overflow: visible;
}

nav ul>li {
  display: inline-block;
  padding-block: var(--space-3);
  padding-inline: 0;
}

nav a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

nav ul>li>ul {
  display: none;
  width: auto;
  position: absolute;
  z-index: 42;
}

nav ul>li:hover>ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  padding-inline: var(--space-7);
  padding: var(--space-6);
  align-items: start;
  min-width: 150px;
}

nav ul>li>ul>li {
  white-space: nowrap;
}

nav li:has(> ul)>a {
  pointer-events: none;
}

nav li:has(> ul)>a::after {
  content: "▼";
  font-size: 0.8em;
  opacity: 0.7;
}

/* theme colors */

nav ul>li>ul {
  background: var(--color-bg);
  border-color: var(--color-txt);
}

/* theme style */

nav ul>li>ul {
  border-style: solid;
  border-width: var(--border-width-nav);
}

/* different layouts */

nav:has(> ul) {
  container-type: inline-size;
  container-name: navigation;
}

@container navigation (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  nav ul:first-child>li {
    padding-bottom: 0;
  }

  nav ul>li {
    padding-left: 0;
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
  }

  nav ul>li>ul {
    width: 50%;
  }
}