/* base */

nav>ol>li[aria-selected="true"] {
  border-bottom: var(--border-width-horz-tabs) solid light-dark(var(--color-primary-dark-2), var(--color-primary-light-2));
}

nav ol>li {
  border-bottom: var(--border-width-horz-tabs) solid var(--color-bg);
  padding-inline: var(--space-5);
}

/* different layouts */

@container navigation (max-width: 600px) {
  nav>ol>li[aria-selected="true"] {
    border-bottom: none;
    padding-left: calc(var(--space-6) - var(--border-width-vert-tabs)) !important;
    border-left: var(--border-width-vert-tabs) solid light-dark(var(--color-primary-dark-2), var(--color-primary-light-2));
    background-color: light-dark(var(--color-primary-light-2), var(--color-accent-dark-2));
  }

  nav>ol>li {
    align-content: center;
    width: 100%;
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
    padding-left: var(--space-6) !important;
    border-bottom: none;
  }
}