/* base */

nav ol>li {
  padding-inline: var(--space-5);
}

/* theme colors */

nav ol>li {
  border-bottom-width: var(--border-width-horz-tabs);
  border-bottom-style: solid;
  border-bottom-color: var(--color-bg);
}

nav>ol>li[aria-selected="true"] {
  border-bottom-color: var(--color-primary-inked-hover);
}

/* different layouts */

@container navigation (max-width: 600px) {
  nav>ol>li[aria-selected="true"] {
    border-bottom: none;
    padding-left: calc(var(--space-6) - var(--border-width-vert-tabs)) !important;
    /* theme colors */
    background-color: var(--color-primary-faint);;
    border-left-width: var(--border-width-vert-tabs);
    border-left-style: solid;
    border-left-color: var(--color-primary-inked-hover);
  }

  nav>ol>li {
    align-content: center;
    width: 100%;
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
    padding-left: var(--space-6) !important;
    border-bottom: none;
  }
}