/* base */

menu {
  display: flex;
  flex-direction: row;
  gap: var(--space-l);

  list-style-type: none;
  align-items: center;
  list-style-type: none;
  margin-left: 0;
  overflow: visible;
}

menu>li {
  display: flex;

  align-items: center;
  justify-content: center;
  padding-top: var(--space-m);
  padding-bottom: var(--space-xs);
  max-width: 100px;
}

menu>li>a {
  display: inline-flex;
  flex-direction: column;
  
  text-decoration: none;
  align-items: center;
  vertical-align: middle;
}

menu li:has(> ul)>a {
  pointer-events: all;
}

menu li:has(> ul)>a::after {
  content: none;
}

menu>li>ul {
  display: none;
}

/* typography */

menu>li>a {
  font-size: var(--font-size-xsm);
}

/* different layouts */

header:has(> menu):not(.disable-mobile) {
  container-type: inline-size;
  container-name: menu;
}

@container menu (max-width: 600px) {
  menu {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    justify-content: center;
    gap: 0;
    background: var(--color-bg);
    border-top: 1px solid var(--color-border);
  }

  menu>li {
    flex-grow: 1;
    flex-basis: 999px;
  }
}