/* base */

dialog {
  border: none;
  padding: var(--space-m);
  width: var(--width-dialog);
  margin-bottom: var(--space-xl);
  max-height: calc(100dvh - 2 * var(--space-xl));
}

/* theme styles */

dialog {
  border-radius: var(--border-radius-dialog);
}

/* theme colors */

dialog {
  background: var(--color-bg);
}

dialog::backdrop {
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.5);
}