/* horizontal layout */

dialog {
  margin-inline: auto;
}

/* base */

dialog {
  border: none;
  padding: var(--space-m);
  width: min(100% - var(--space-l), var(--width-dialog));
}

/* theme styles */

dialog {
  border-radius: var(--border-radius-dialog);
}

/* theme colors */

dialog {
  background: var(--color-bg);
}

dialog::backdrop {
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.5);
}