/* horizontal layout */

header > :not(:is(nav, menu)) {
  width: 100vw !important;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-top: var(--space-8);

  &>* {
    width: min(100% - var(--space-9), var(--width-page));
    margin-inline: auto;
  }
}