/* base */

article {
  overflow: hidden;
  padding-bottom: var(--space-m);

  &>*:not(img, details) {
    padding-inline: var(--space-sm);
  }

  &>*:is(details)>* {
    padding-inline: var(--space-sm);
  }

  &>*:first-child:not(img, details) {
    padding-top: var(--space-sm);
  }

  &>details>summary {
    padding-top: var(--space-sm);
  }

  &>*:first-child:is(header) {
    padding-bottom: var(--space-sm);
  }

  &:has(> details:not([open])) {
    padding-bottom: 0;
  }

  &>details>summary {
    padding-bottom: var(--space-sm);
  }

  &>details[open][name]>*:last-child {
    padding-bottom: var(--space-m) !important;
  }
}

/* theme styles */

article {
  border-radius: var(--border-radius-card);
  border-width: var(--border-width-card);
  border-style: var(--border-style-card);
}

/* theme colors */

article {
  background: var(--color-surface-light-4);
  border-color: var(--color-borders-light-1);
}

/* @FEATURE: Open/Close nice looking panel  */
article>header:first-child,
article>details>summary {
  background: var(--color-surface-light-2);

  &:hover {
    background: var(--color-surface-light-1);
  }
}