/* horizontal layout */

[role=group]>* {
  margin-inline: 0;
}

/* base */

[role=group] {
  display: flex;
  align-items: center;
}

[role=group]>* {
  align-items: center;
}

[role=group]>:is(:first-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

[role=group]>:is(:last-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

[role=group]>:not(:first-child):not(:last-child) {
  border-radius: 0;
}

[role=group]>:is(button, input[type=submit], input[type=reset], mark) {
  width: auto;
  /* @todo: buttons & inputs have different margin-bottom (0 vs space-6 
     so this becomes important
     */
  align-self: flex-start;
}

[role=group]>:is(button, input[type=submit], input[type=reset])+:is(input, button) {
  border-left-width: 0;
}

[role=group]>:not(:last-child):not(button, input[type=submit], input[type=reset]) {
  border-right-width: 0;
}

/* theme styles */

[role=group]>input {
  border-bottom-width: var(--border-bottom-width-input);
}

[role=group]>:is(:first-child):is(button, input[type=submit], input[type=reset]) {
  border-right-width: var(--border-width-action);
}