/* vertical layout */

.card {
  margin-bottom: var(--space-m);
}

.card>* {
  margin-bottom: 0;
}

.card>*:last-child {
  margin-bottom: var(--space-sm);
}

.card>*:not(img) {
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
}

.card>*:first-child:not(img) {
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
}

/* horizontal layout */

.card>img:first-child {
  width: 100%;
}

/* base */

.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.card>img:first-child {
  max-width: none;
}

/* theme colors */

.card {
  background: light-dark(var(--color-bg), var(--color-accent-faint));
  border-color: var(--color-border);
}

.card>:is(p, summary):first-child {
  background-color: var(--color-secondary-muted);

  &:hover {
    background-color: var(--color-secondary-muted-hover);
  }
}

/* theme styles */

.card {
  border-radius: var(--border-radius-card);

  border-left-width: var(--border-left-width-card);
  border-left-style: var(--border-left-style-card);
  border-right-width: var(--border-right-width-card);
  border-right-style: var(--border-right-style-card);
  border-top-width: var(--border-top-width-card);
  border-top-style: var(--border-top-style-card);
  border-bottom-width: var(--border-bottom-width-card);
  border-bottom-style: var(--border-bottom-style-card);
}