/* horizontal layout */

.hero {
  width: 100vw !important;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.hero>* {
  width: min(100% - var(--space-9), var(--width-page));
  margin-inline: auto;
}