/* base */

nav[role=tablist]>ul>li[aria-selected="true"] {
  border-bottom: 4px solid light-dark(var(--color-primary-dark-2), var(--color-primary-light-2));
}

nav[role=tablist] ul>li {
  border-bottom: 4px solid var(--color-bg);
  padding-inline: var(--space-5);
}

/* different layouts */ 

@container(max-width: 420px) {
  nav[role=tablist]>ul>li[aria-selected="true"] {
    border-bottom: none;
    padding-left: calc(var(--space-6) - 3px) !important;
    border-left: 3px solid light-dark(var(--color-primary-dark-2), var(--color-primary-light-2));
    background-color: light-dark(var(--color-primary-light-2), var(--color-accent-dark-2));
  }

  nav[role=tablist]>ul>li {
    align-content: center;
    width: 100%;
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
    padding-left: var(--space-6) !important;
    border-bottom: none;
  }
}

@media (max-width: 768px) {
  nav[role=tablist]>ul>li[aria-selected="true"] {
    border-bottom: none;
    padding-left: calc(var(--space-6) - 3px);
    border-left: 3px solid light-dark(var(--color-primary-dark-2), var(--color-primary-light-2));
    background-color: light-dark(var(--color-primary-light-2), var(--color-accent-dark-2));
  }

  nav[role=tablist]>ul>li {
    width: 100%;
    padding-left: var(--space-6);
    border-bottom: 0;
  }
}