/* base */

nav[role=menu]>ul {
  gap: var(--space-9);
}

nav[role=menu]>ul>li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--space-6);
  padding-bottom: var(--space-3);
  max-width: 100px;
}

nav[role=menu]>ul>li>a {
  flex-direction: column;
}

nav[role=menu] li:has(> ul)>a {
  pointer-events: all;
}

nav[role=menu] li:has(> ul)>a::after {
  content: none;
}

nav[role=menu] ul>li:hover>ul {
  display: none;
}

/* typography */

nav[role=menu]>ul>li>a {
  font-size: var(--font-size-xsm);
}

/* different layouts */

header:has(> nav[role=menu]) {
  container-type: inline-size;
  container-name: navigation-tabs;
}

@container navigation-tabs (max-width: 600px) {
  header>nav[role=menu] {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background: var(--color-bg);
    border-top: 1px solid light-dark(var(--color-accent-light-1), var(--color-accent-dark-1));
    padding-inline: var(--space-6);
    padding-block: 0;
  }

  header>nav[role=menu]>ul {
    margin: 0;
    justify-content: center;
    gap: 0;
  }
}

@container navigation (max-width: 600px) {
  nav[role=menu]>ul {
    flex-direction: row;
    justify-content: initial;
  }

  nav[role=menu]>ul>li {
    padding-inline: 0;
    flex-grow: 1;
    flex-basis: 999px;
  }
}