.success {
  --color-int-border: color-mix(in srgb, var(--color-success) 40%, transparent);

  --color-int-accent-faint: light-dark(color-mix(in srgb, var(--color-success) 20%, transparent),
      color-mix(in srgb, var(--color-success) 45%, transparent));
  --color-int-accent-muted: light-dark(color-mix(in srgb, var(--color-success) 35%, transparent),
      color-mix(in srgb, var(--color-success) 55%, transparent));
  --color-int-accent-inked: light-dark(color-mix(in oklch, var(--color-success) 90%, white),
      color-mix(in oklch, var(--color-success) 90%, white));

  --color-int-primary: var(--color-success);
  --color-int-primary-hover: color-mix(in oklab, var(--color-success) 90%, light-dark(black, white));
  --color-int-primary-inked: light-dark(color-mix(in oklch, var(--color-success) 85%, black),
      color-mix(in oklch, var(--color-success) 50%, white));

  --color-int-secondary: var(--color-success);
  --color-int-secondary-muted: light-dark(color-mix(in oklch, var(--color-success) 30%, white),
      color-mix(in oklch, var(--color-success) 70%, black));
}

.error {
  --color-int-border: color-mix(in srgb, var(--color-error) 40%, transparent);

  --color-int-accent-faint: light-dark(color-mix(in srgb, var(--color-error) 20%, transparent),
      color-mix(in srgb, var(--color-error) 45%, transparent));
  --color-int-accent-muted: light-dark(color-mix(in srgb, var(--color-error) 35%, transparent),
      color-mix(in srgb, var(--color-error) 55%, transparent));
  --color-int-accent-inked: light-dark(color-mix(in oklch, var(--color-error) 90%, white),
      color-mix(in oklch, var(--color-error) 90%, white));

  --color-int-primary: var(--color-error);
  --color-int-primary-hover: color-mix(in oklab, var(--color-error) 90%, light-dark(black, white));
  --color-int-primary-inked: light-dark(color-mix(in oklch, var(--color-error) 85%, black),
      color-mix(in oklch, var(--color-error) 50%, white));

  --color-int-secondary: var(--color-error);
  --color-int-secondary-muted: light-dark(color-mix(in oklch, var(--color-error) 30%, white),
      color-mix(in oklch, var(--color-error) 70%, black));
}

.primary {
  --color-int-border: color-mix(in srgb, var(--color-primary) 40%, transparent);

  --color-int-accent-faint: light-dark(color-mix(in srgb, var(--color-primary) 20%, transparent),
      color-mix(in srgb, var(--color-primary) 45%, transparent));
  --color-int-accent-muted: light-dark(color-mix(in srgb, var(--color-primary) 35%, transparent),
      color-mix(in srgb, var(--color-primary) 55%, transparent));
  --color-int-accent-inked: light-dark(color-mix(in oklch, var(--color-primary) 90%, white),
      color-mix(in oklch, var(--color-primary) 90%, white));

  --color-int-primary: var(--color-primary);
  --color-int-primary-hover: color-mix(in oklab, var(--color-primary) 90%, light-dark(black, white));
  --color-int-primary-inked: light-dark(color-mix(in oklch, var(--color-primary) 85%, black),
      color-mix(in oklch, var(--color-primary) 35%, white));

  --color-int-secondary: var(--color-primary);
  --color-int-secondary-muted: light-dark(color-mix(in oklch, var(--color-primary) 30%, white),
      color-mix(in oklch, var(--color-primary) 70%, black));
}

.secondary {
  --color-int-border: color-mix(in srgb, var(--color-secondary) 40%, transparent);

  --color-int-accent-faint: light-dark(color-mix(in srgb, var(--color-secondary) 20%, transparent),
      color-mix(in srgb, var(--color-secondary) 45%, transparent));
  --color-int-accent-muted: light-dark(color-mix(in srgb, var(--color-secondary) 35%, transparent),
      color-mix(in srgb, var(--color-secondary) 55%, transparent));
  --color-int-accent-inked: light-dark(color-mix(in oklch, var(--color-secondary) 90%, white),
      color-mix(in oklch, var(--color-secondary) 90%, white));

  --color-int-primary: var(--color-secondary);
  --color-int-primary-hover: color-mix(in oklab, var(--color-secondary) 90%, light-dark(black, white));
  --color-int-primary-inked: light-dark(color-mix(in oklch, var(--color-secondary) 85%, black),
      color-mix(in oklch, var(--color-secondary) 50%, white));

  --color-int-secondary: var(--color-secondary);
  --color-int-secondary-muted: light-dark(color-mix(in oklch, var(--color-secondary) 30%, white),
      color-mix(in oklch, var(--color-secondary) 70%, black));
}

:is(div,
  article, section, main, aside, header, footer,
  nav, menu).primary:not(.card) {
  background-color: var(--color-int-primary-faint);
}

:is(div,
  article, section, main, aside, header, footer,
  nav, menu).secondary:not(.card) {
  background-color: var(--color-int-secondary-faint);
}

:is(div,
  article, section, main, aside, header, footer,
  nav, menu).success:not(.card) {
  --color-primary: var(--color-int-success);
  background-color: var(--color-int-primary-faint);
}

:is(div,
  article, section, main, aside, header, footer,
  nav, menu).error:not(.card) {
  --color-primary: var(--color-int-error);
  background-color: var(--color-int-primary-faint);
}

:is(h1, h2, h3, h4, h5, h6, p, hgroup,
  span, strong, em, b, i, small, label, legend,
  abbr, cite, q, samp, sub, sub, time, del, ins, summary).primary:not(.card) {
  color: var(--color-int-primary);
}

:is(h1, h2, h3, h4, h5, h6, p, hgroup,
  span, strong, em, b, i, small, label, legend,
  abbr, cite, q, samp, sub, sub, time, del, ins, summary).secondary:not(.card) {
  color: var(--color-int-secondary);
}

:is(h1, h2, h3, h4, h5, h6, p, hgroup,
  span, strong, em, b, i, small, label, legend,
  abbr, cite, q, samp, sub, sub, time, del, ins, summary).success:not(.card) {
  color: var(--color-int-success);
}

:is(h1, h2, h3, h4, h5, h6, p, hgroup,
  span, strong, em, b, i, small, label, legend,
  abbr, cite, q, samp, sub, sub, time, del, ins, summary).error:not(.card) {
  color: var(--color-int-error);
}

.primary {
  &.inverted {
    background-color: var(--color-int-primary) !important;
    border-color: var(--color-int-primary) !important;
    color: var(--color-int-txt-on-dark) !important;
  }
}

.secondary {
  &.inverted {
    background-color: var(--color-int-secondary) !important;
    border-color: var(--color-int-secondary) !important;
    color: var(--color-int-txt-on-dark) !important;
  }
}

.success {
  &.inverted {
    background-color: var(--color-int-success) !important;
    border-color: var(--color-int-success) !important;
    color: var(--color-int-txt-on-dark) !important;
  }
}

.error {
  &.inverted {
    background-color: var(--color-int-error) !important;
    border-color: var(--color-int-error) !important;
    color: var(--color-int-txt-on-dark) !important;
  }
}