/* theme styles */

.success {
  --color-accent-light-1: var(--color-success-light-1);
  --color-accent-light-2: var(--color-success-light-2);
  --color-accent: var(--color-success);
  --color-accent-dark-1: var(--color-success-dark-1);
  --color-accent-dark-2: var(--color-success-dark-2);

  --color-primary: var(--color-success);
  --color-primary-light-1: var(--color-success-light-1);
  --color-primary-light-2: var(--color-success-light-2);
  --color-primary-dark-1: var(--color-success-dark-1);
  --color-primary-dark-2: var(--color-success-dark-2);

  --color-secondary: var(--color-success);
  --color-secondary-light-1: var(--color-success-light-1);
  --color-secondary-light-2: var(--color-success-light-2);
  --color-secondary-dark-1: var(--color-success-dark-1);
  --color-secondary-dark-2: var(--color-success-dark-2);
}

.error {
  --color-accent-light-1: var(--color-error-light-1);
  --color-accent-light-2: var(--color-error-light-2);
  --color-accent: var(--color-error);
  --color-accent-dark-1: var(--color-error-dark-1);
  --color-accent-dark-2: var(--color-error-dark-2);

  --color-primary: var(--color-error);
  --color-primary-light-1: var(--color-error-light-1);
  --color-primary-light-2: var(--color-error-light-2);
  --color-primary-dark-1: var(--color-error-dark-1);
  --color-primary-dark-2: var(--color-error-dark-2);

  --color-secondary: var(--color-error);
  --color-secondary-light-1: var(--color-error-light-1);
  --color-secondary-light-2: var(--color-error-light-2);
  --color-secondary-dark-1: var(--color-error-dark-1);
  --color-secondary-dark-2: var(--color-error-dark-2);
}