/* base */

[role=row] {
  display: flex;
  align-items: stretch;
  gap: var(--space-7);
  width: 100%;
}

[role=row]>div {
  width: 100%;
}
[role=row]>:not(div) {
  margin-left: 0;
}

/* different layouts */

*:has(>[role=row]:not(.disable-mobile)) {
  container-type: inline-size;
  container-name: rows;
}

@container rows (max-width: 600px) {
  :not(.group)>[role=row]:not(.disable-mobile) {
    flex-direction: column;
    gap: 0;
  }
}