/* base */

[role="group"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* prevents breaking parent width */
  /* flex-wrap: wrap; */
}

[role="group"]>* {
  align-items: center;
}

[role="group"]>:is(:first-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

[role="group"]>:is(:last-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

[role="group"]>:not(:first-child):not(:last-child) {
  border-radius: 0;
}

[role="group"]>:is(button, input[type=submit], input[type=reset], mark) {
  width: auto;
  min-width: auto;
  align-self: flex-start;
}

[role="group"]>:is(svg, img) {
  margin-right: var(--space-2xs) !important;
}

/* to help with outlines on focus-visible */

[role="group"] > :is(button, input[type=submit], input[type=reset]) + :is(button, input[type=submit], input[type=reset]),
[role="group"] > :is(select, input:not([type=submit]), input:not([type=reset]), textarea) + :is(select, input:not([type=submit]), input:not([type=reset]), textarea) {
  border-inline-start: 0px;
}

[role="group"] > :is(button, input[type=submit], input[type=reset]):not(:first-child):focus-visible {
  margin-inline-start: var(--outline-ofset-control) !important;
  padding-inline-start: calc(var(--space-m) + (-1 * var(--outline-ofset-control)));

  &:has(:is(svg:only-child, img:only-child)) {
    padding-inline-start: calc(var(--space-sm) + (-1 * var(--outline-ofset-control)));
  }
}

[role="group"]>:is(:focus-visible) {
  z-index: 1;
}

/* theme styles */

[role="group"]>:is(input, textarea, select) {
  border-bottom-width: var(--border-bottom-width-select);
}

/* just in case datalist is the last element ... ignore it */
[role="group"]>:is(button, input, textarea, select):has(+ datalist) {
  border-top-right-radius: var(--border-radius-input) !important;
  border-bottom-right-radius: var(--border-radius-input) !important;
}

/* @warn: referencing the "rows" container */
@container rows (max-width: 600px) {
  :not([role="group"])>.row>div:not(.disable-mobile):empty {
    display: none;
  }
}