/* horizontal layout */

.gap {
  flex-grow: 1;
}

/* @warn: referencing the "rows" container */
@container rows (max-width: 600px) {
  :not([role="group"])>.row:not(.disable-mobile).gap {
    display: none;
  }
}

/* @warn: referencing the "navigation" container */
@container navigation (max-width: 600px) {
  nav:not(.disable-mobile)>:is(ul, ol):not(.disable-mobile)>li.gap {
    display: none;
  }
}