/* base */

.hide-on-mobile {
  display: block !important;
}

.hide-on-desktop {
  display: none !important;
}


/* different layouts */

@container (max-width: 600px) {
  .hide-on-mobile {
    display: none !important;
  }

  .hide-on-desktop {
    display: block !important;
  }
}