/* horizontal layout */

.container-narrow {
  --width-page: var(--width-container-narrow);
}

.container-medium {
  --width-page: var(--width-container-medium);
}

.container-wide {
  --width-page: var(--width-container-wide);
}